<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-12">
                <h3>Cadastrar Valores dos Cursos</h3>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <xd-select data-params="vc._model.tipoCurso" data-change="vc.changeTipoCurso"></xd-select>
    </div>
    <div class="col-md-6 col-sm-12">
        <xd-select data-params="vc._model.areaCurso" data-change="vc.changeArea" data-disable="vc.disableTipoCurso"></xd-select>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <xd-select data-params="vc._model.curso" data-change="vc.changeCurso" data-disable="vc.disableArea"></xd-select>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <xd-input-date data-params="vc._model.periodoVigencia" data-disable="vc.disableCurso"></xd-input-date>
    </div>
    <div class="col-md-6 col-sm-12">
        <xd-input-date data-params="vc._model.ate" data-disable="vc.disableCurso"></xd-input-date>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <xd-input-money data-params="vc._model.valorIntegral" data-disable="vc.disableCurso"></xd-input-money>
    </div>
    <div class="col-md-6 col-sm-12">
        <xd-input-money data-params="vc._model.valorAvista" data-disable="vc.disableCurso"></xd-input-money>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <xd-input-money data-params="vc._model.valorInscr" data-disable="vc.disableCurso"></xd-input-money>
    </div>
    <div class="col-md-4">
        <xd-input data-params="vc._model.parcelaMax" data-disable="true"></xd-input>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <xd-select data-params="vc._model.formaPagamento" data-change="vc.changeFormaPagamento"></xd-select>
    </div>
    <div class="col-md-4">
        <xd-input-money data-params="vc._model.valorParcela" data-disable="true"></xd-input-money>
    </div>
    <div class="col-md-4">
        <label><br/><br/><br/></label>
        <span><button class="btn btn-white heightFix" data-toggle="modal" data-target="#modalAddForma" data-ng-disabled="vc.disableCurso"><i class="entypo-plus"></i>Nova Forma</button></span>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12 centered center-block text-center">
        <span class="btn-group" style="padding: 2%">
            <button class="btn btn-green btn-lg btn-icon icon-left" data-ng-disabled="" ng-click="vc.saveValoresCurso()">
                Adicionar
                <i class="entypo-check"></i>
            </button>
        </span>
        <span class="btn-group" style="padding: 2%">
            <button class="btn btn-warning btn-icon icon-left btn-lg" data-toggle="modal" data-target="#confirmClear" data-ng-disabled="" ng-click="vc.clear()">
                Limpar
                <i class="icon entypo-cup icon-right"></i></button>
        </span>
    </div>
</div>

<!-- ADICIONAR FORMA DE PAGAMENTO -->
<div class="modal fade" id="modalAddForma" tabindex="-1" role="dialog" aria-labelledby="Cadastrar Novo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click=""><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar Conteúdo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <xd-input data-params="vc._model.addNome"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <xd-input-money data-params="vc._model.addValor"></xd-input-money>
                    </div>
                    <div class="col-md-6">
                        <xd-input data-params="vc._model.addParcelamento"></xd-input>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vc.clearModalAddForma()">Cancelar</button>
                <button type="button" class="btn btn-green" ng-click="vc.addFormaPagamento()">Salvar</button>
            </div>
        </div>
    </div>
</div>