<meta charset="utf8">
<h2>Demonstração</h2>
<table style="width:90%;border-style:solid; text-align:left">
    <tr>
      <th>Nome</th>
      <th>Turma</th>
      <th>Curso</th>
      <th>Unidade</th>
    </tr>
    {{#each persons}}
    <tr>
       <td>{{Nome}}</td>
       <td>{{Turma}}</td>
       <td>{{Curso}}</td>
       <td>{{Unidade}}</td>
    </tr>
    {{/each}}
</table>