<ng-form name="fieldForm">
    <div ng-class="{ 'has-error' : !fieldForm.data.$pristine &&
                                    fieldForm.data.$invalid}"
         class="row form-group">
        <label ng-bind="params.label"
               class="col-sm-3 control-label">
        </label>

        <div class="col-sm-5">
            <select name="data"
                    required="{{params.required}}"
                    ng-required="params.required"
                    ng-model="params.value"
                    ng-change="">
                <option></option>
                <option ng-repeat="item in params.list"
                        value="{{item.id}}"
                        ng-bind="item.text">
                </option>
            </select>

            <p ng-show="!fieldForm.data.$pristine &&
                        fieldForm.data.$invalid"
               class="help-block" ng-bind="params.help">
            </p>
        </div>
    </div>
</ng-form>