<div class="scrollTable">
    <div data-ng-class="{'has-error':!(params.model.err === undefined || params.model.err == '')}"
     class="form-group">

    <div class="divTable col-md-12" style="display: none">
        <p class="tableOnError text-center text-info" style="display: none">Ops! Conexão lenta. Alguns recursos poderão ser desabilitados.</p>
        <table id="{{'table_'+params.name}}" class="xd-table-pre table table-striped table-hover">
            <thead>
            <tr>
               <th ng-repeat="head in params.head">{{head.text}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="line in params.list">
                <th ng-repeat="colum in line">
                    <div ng-if="cond.boolean(colum)">
                        <span ng-if="colum" style="font-size: 11px">Completo</span>
                        <span ng-if="!colum" style="font-size: 11px">Incompleto</span>
                        <button title="Editar Cadastro" class="btn btn-white" ng-if="cond.boolean(colum)" ng-show="!colum" onclick="$('#cursorSetp1').click()" ng-click="cond.editFunc()"><i class="entypo-pencil"></i></button>
                        <button title="Imprimir Contrato" class="btn btn-info" ng-if="cond.boolean(colum)"><i class="entypo-print"></i></button>
                    </div>
                    <span ng-if="!cond.boolean(colum)&&!cond.checkbox(colum)">{{colum}}</span>
                    <input type="checkbox" ng-if="!cond.boolean(colum)&&cond.checkbox(colum)" class="checkbox"/>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tableLoading col-md-12 center text-center center-block" style="display: block">
        <div class="col-md-12">
            <img src="assets/images/loader-1.gif" alt="Carregando" class="text-center"/>
        </div>
        <div class="col-md-12">
            <p class="text-center">Carregando</p>
        </div>
    </div>
</div>
</div>