<!-- build:js /assets/js/bundle_aluno.min.js -->
<!--  MÓDULO PRINCIPAL e ROTAS  -->
<script type="text/javascript" src="/aluno/js/routes/routes.js"></script>

<!--    Models  -->
<script type="text/javascript" src="/aluno/js/models/menu.js"></script>

<!--    Filters   -->
<script type="text/javascript" src="/aluno/js/filters/__module__.js"></script>
<script type="text/javascript" src="/aluno/js/filters/interpolate.js"></script>

<!--    Services    -->
<script type="text/javascript" src="/aluno/js/services/__module__.js"></script>
<script type="text/javascript" src="/aluno/js/services/crop-service.js"></script>
<script type="text/javascript" src="/aluno/js/services/define-curso.js"></script>
<script type="text/javascript" src="/aluno/js/services/service-messages.js"></script>

<!--    Directives  -->
<script type="text/javascript" src="/aluno/js/directives/__module__.js"></script>
<script type="text/javascript" src="/aluno/js/directives/app-version.js"></script>

<!--    Controllers-->
<script type="text/javascript" src="/aluno/js/controllers/__module__.js"></script>
<script type="text/javascript" src="/aluno/js/controllers/main.js"></script>
<script type="text/javascript" src="/aluno/js/controllers/aniversariantes.js"></script>
<script type="text/javascript" src="/aluno/js/controllers/conteudo.js"></script>
<script type="text/javascript" src="/aluno/js/controllers/editar-perfil.js"></script>
<script type="text/javascript" src="/aluno/js/controllers/grade.js"></script>
<script type="text/javascript" src="/aluno/js/controllers/horarios.js"></script>
<script type="text/javascript" src="/aluno/js/controllers/messages.js"></script>
<script type="text/javascript" src="/aluno/js/controllers/notas.js"></script>
<script type="text/javascript" src="/aluno/js/controllers/parcelas.js"></script>
<script type="text/javascript" src="/aluno/js/controllers/tasks.js"></script>
<script type="text/javascript" src="/aluno/js/controllers/xd-crop.js"></script>
<!-- endbuild -->