<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursar.me | <%= title %></title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <!-- build:css /assets/css/bundle_common.min.css -->
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/jquery-ui.css">
    <!--NEON-->
    <link rel="stylesheet" href="/assets/neon/vertical-timeline/css/component.css">
    <link rel="stylesheet" href="/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="/assets/css/neon.css">

    <link rel="stylesheet" href="/lib/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="/lib/select2/select2.css">
    <link rel="stylesheet" href="/lib/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="/lib/c3/c3.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/ng-img-crop-custom.css">
    <link rel="stylesheet" href="/lib/angular-ui-grid/ui-grid.min.css">

    <!--XDUKA-->
    <link rel="stylesheet" href="/assets/xduka/css/skin.css">

    <link rel="stylesheet" href="/lib/datatables/media/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/lib/ngprogress/ngProgress.css">
    <link rel="stylesheet" href="/assets/css/custom.css"/>

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="/assets/css/font-icons/entypo/css/entypo.css">
    <!-- endbuild -->

    <!--UI-SELECT-->
    <!--
    IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
    For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim -->
    <!--[if lt IE 9]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');
    </script>
    <![endif]-->

</head>