<!-- build:js /assets/js/bundle_financeiro.min.js -->
<!--    MODULO PRINCIPAL e ROTAS-->
<script type="text/javascript" src="/financeiro/js/routes/routes.js"></script>

<!--    Directives  -->
<script type="text/javascript" src="/financeiro/js/directives/__module__.js"></script>

<!--    Models   -->
<script type="text/javascript" src="/financeiro/js/models/__module__.js"></script>
<script type="text/javascript" src="/financeiro/js/models/menu.js"></script>

<!--    Services   -->
<script type="text/javascript" src="/financeiro/js/services/__module__.js"></script>

<!--    Filters   -->
<script type="text/javascript" src="/financeiro/js/filters/__module__.js"></script>

<!-- Controllers -->
<script type="text/javascript" src="/financeiro/js/controllers/__module__.js"></script>
<script type="text/javascript" src="/financeiro/js/controllers/main.js"></script>
<script type="text/javascript" src="/financeiro/js/controllers/dashboard.js"></script>
<script type="text/javascript" src="/financeiro/js/controllers/control-cheques.js"></script>
<script type="text/javascript" src="/financeiro/js/controllers/aluno-fin.js"></script>
<script type="text/javascript" src="/financeiro/js/controllers/msg-boletos.js"></script>
<script type="text/javascript" src="/financeiro/js/controllers/valores-cursos.js"></script>
<script type="text/javascript" src="/financeiro/js/controllers/cadastro-caixa.js"></script>
<script type="text/javascript" src="/financeiro/js/controllers/campanhas-promocionais.js"></script>
<script type="text/javascript" src="/financeiro/js/controllers/contrato.js"></script>

<!-- endbuild -->