<!DOCTYPE html>
<html lang="pt" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursar.me | <%= title %></title>

    <% include config-css-common.html %>
    
    <!-- build:css /assets/css/bundle_aluno.min.css -->
    <!-- endbuild -->

</head>
<body ng-controller="Main as main"
      class="page-body page-fade" data-url="http://neon.dev">

<div class="page-container">

    <div class="sidebar-menu">
        <header class="logo-env">
            <!-- logo -->
            <div class="logo">
                <a href="/<%= title.toLowerCase() %>#/">
                    <img src="/assets/xduka/img/logo_small.png" alt="IESES"/>
                </a>
            </div>
            <!-- logo collapse icon -->
            <div class="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                    <i class="entypo-menu"></i>
                </a>
            </div>
            <div style="padding-left: 1%" class="sidebar-collapse hidden-md hidden-lg hidden-sm" title="Sair">
                <a href="/logout">
                    <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                    <i class="entypo-logout"></i>
                </a>
            </div>
            <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
            <div class="sidebar-mobile-menu visible-xs">
                <a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
                    <i class="entypo-menu"></i>
                </a>
            </div>
        </header>
        <ul id="main-menu" class="">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li ng-repeat="item in main.menu.list">
                    <a ng-href="{{item.href}}" ng-click="main.menuAction()">
                    <i ng-class="item.iconClass"></i>
                    <span ng-bind="item.text"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main-content">

        <div class="row">
            <!-- Profile Info and Notifications -->
            <div class="col-md-4 col-sm-5 clearfix">
                <ul class="user-info pull-left pull-none-xsm">
                    <!-- Profile Info -->
                    <li class="profile-info dropdown">
                        <!-- add class "pull-right" if you want to place this from right -->
                        <span href="#" class="dropdown-toggle">
                            <img ng-src="{{main.user.avatar.thumb}}" alt="{{main.user.name}}"
                                 class="img-circle" width="44"/>
                            {{main.user.name}}
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-4 clearfix">
                <div class="col-sm-12 hidden-lg">
                    <br/>
                </div>
                <form role="form" class="form-horizontal form-groups-bordered">
                    <xd-select data-params="main.cursos" data-change="main.sendCurso" ></xd-select>
                </form>
            </div>

            <!-- Raw Links -->
            <div class="col-md-4 col-sm-2 clearfix hidden-xs">
                <ul class="list-inline links-list pull-right">
                    <li>
                        <a href="/logout">
                            {{main.STR.LOGOUT}}
                            <i class="entypo-logout right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb bc-3">
                    <li>
                        <a href="/<%= title.toLowerCase() %>#/"><i class="entypo-home"></i>Home</a>
                    </li>
                    <li class="active">
                        <strong>{{main.breadCrumb.title}}</strong>
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div data-ng-view
                 class="col-sm-12 col-md-12 col-lg-12">
            </div>
        </div>

        <footer class="main">
            &copy; 2014
            <strong>Cursar.me</strong>
            Desenvolvido pela
            <a href="http://xdevel.com.br"
               target="_blank">xDevel</a>
        </footer>

    </div>
</div>

<% include config-dependencias-common.html %>
<% include config-dependencias-aluno.html %>

</body>
</html>