/**
 *
 * Apply Here your Custom CSS
 *
*/

div.validate-has-error div.select2-container a {
    border-color: #cc2424 !important;
}

.validate-has-error input, div.validate-has-error div.select2-container a {
    transition: border-color 1s;
}

.visivel {
    display: inherit;
}

.invisivel {
    display: none;
}

input.btn.btn-lg.btn-success {
    width: 100%;
}

.modal-dialog.modal-lg {
    width: 90%;
}

.row.form-group {
    padding: 0.5em 0;
    border-radius: 0.5em;
    margin: 0;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    -ms-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
}

.row.form-group:hover {
    background-color: #EFF9FF;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    height: 350px;
    width: 500px;
}