<div ng-controller="EditarPerfil as perfil"
     class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <!--FOTO-->
        <div class="panel panel-primary" data-collapsed="0">
            <div class="panel-heading">
                <div data-ng-bind="perfil.STR.FOTO_PERFIL"
                     class="panel-title">
                </div>
            </div>
            <div class="panel-body">
                <p>Foto atual:</p>
                <img data-ng-src="{{main.user.avatar.thumb}}" alt="Teste" class="img-circle" width="150px" height="150px"/>
                <a href="javascript:;" onclick="jQuery('#xdModal').modal('show', {backdrop: 'static'});" class="btn btn-green">Alterar foto</a>
            </div>
        </div>


        <!--TROCAR SENHA-->
        <div class="panel panel-primary" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">
                    Trocar Senha
                </div>
            </div>
            <div class="panel-body">
                <form role="form" class="form-horizontal form-groups-bordered">
                    <!--SENHA ATUAL-->
                    <xd-input data-params="perfil.password.current"></xd-input>
                    <!--NOVA SENHA-->
                    <xd-input data-params="perfil.password.new"></xd-input>
                    <!--CONFIRMAR NOVA SENHA-->
                    <xd-input data-params="perfil.password.confirm"></xd-input>

                    <xd-btn label="'Salvar'"
                            icon="'entypo-check'"
                            click="perfil.sendSenha">
                    </xd-btn>

                    <p data-collapse="!perfil.password.successMessagePw"
                       data-ng-bind="perfil.password.successMessagePw"
                       class="control-label"></p>
                </form>
            </div>
        </div>

        <!--INFORMACOES COMPARTILHADAS-->
        <div class="panel panel-primary" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">
                    Informações Compartilhadas
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-groups-bordered validate">
                    <!--PERMISSOES-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Permissões</label>

                        <div class="checkbox">
                            <div class="col-sm-5">
                                <input data-ng-model="perfil.info.sharePic"
                                       type="checkbox"
                                       id="input_sharePic">
                                <label for="input_sharePic">
                                    Exibir foto na lista de aniversariantes do mês
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--TELEFONE RESIDENCIAL-->
                    <xd-input data-params="perfil.info.phone"></xd-input>
                    <!--TELEFONE CELULAR-->
                    <xd-input data-params="perfil.info.cel"></xd-input>
                    <!--EMAIL-->
                    <xd-input-email data-params="perfil.info.email"></xd-input-email>
                    <xd-btn label="'Salvar'"
                            icon="'entypo-check'"
                            click="perfil.sendInfo">
                    </xd-btn>
                    <p data-collapse="!perfil.info.successMessage"
                       data-ng-bind="perfil.info.successMessage"
                       class="control-label"></p>
                </form>
            </div>
        </div>


    </div>

    <form name="formFoto"
          class="form-horizontal">
        <xd-modal title="Alterar a foto de perfil" hidden="hidden" btn="Cancelar">
            <div>

                <div class="form-group">

                    <div class="col-sm-12 left-aligned" style="overflow: hidden">

                        <div class="input-group">
                            <div class="form-control uneditable-input" data-trigger="fileinput">
                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                <span class="fileinput-filename">Selecione um arquivo de imagem (jpg, png, etc)</span>
                            </div>
                        <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">Selecionar</span>
                            <input name="fileInput" type="file" id="fileInput">
                        </span>
                        </div>

                        <p class="help-block text-center">*Tamanho máximo do arquivo 10mb</p>



                    </div>

                    <div data-collapse="!perfil.showCropArea"
                         class="col-sm-12 col-md-9 col-md-offset-1">
                        <div class="cropArea">
                            <img-crop image="myImage"
                                      result-image="myCroppedImage">
                            </img-crop>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button data-ng-disabled="!perfil.showCropArea"
                                class="btn btn-lg btn-info btn-icon icon-left pull-right"
                                ng-click="perfil.tempFoto()"
                                onclick="jQuery('#confirmPhoto').modal('show', {backdrop: 'static'});"
                                data-dismiss="modal">
                            <i class="entypo-check"></i>
                            {{perfil.STR.CORTAR}}
                        </button>
                    </div>
                </div>

            </div>
        </xd-modal>
        <div aria-hidden="true" style="display: none;" class="modal fade" id="confirmPhoto" ng-controller="xdCrop as ft">
            <div class="modal-dialog" onshow="ft.atualizar()">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Pré-vizualização</h4>
                    </div>
                    <div class="modal-body">

                        <div class="col-sm-12" onloadstart="ft.atualiza()">
                            <div>Imagem cortada:</div>
                            <div class="text-center"><img class="img-circle" data-ng-src="{{ft.atualizaImgTemp();ft.imgSv}}"/></div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-sm-6 text-center">
                                <button type="button" class="btn btn-default btn-lg btn-icon icon-left pull-left" data-dismiss="modal" onclick="jQuery('#xdModal').modal('show', {backdrop: 'static'});"><i class="entypo-back"></i>Voltar</button>
                            </div>
                            <div class="col-sm-6 text-center">
                                <button type="button" class="btn btn-info btn-lg btn-icon icon-left pull-right" data-dismiss="modal" data-ng-click="ft.sendFoto();main.atualizaAvatar();perfil.sendFoto()"><i class="entypo-check"></i>Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
