/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
    color: #000; /*cor padrão sobrepondo a do neon*/
}

.titleRed {
    background-color: rgba(228, 11, 11, 0.88);
    transition: all 400ms ease-in-out 0.1s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    
}
.titleRed:hover {
    background-color: rgba(227, 8, 8, 0.79);
    transition: all 400ms ease-in-out 0.1s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    
}
.titleBlue{
    background-color: #0073b7;
    transition: all 400ms ease-in-out 0.1s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    
}
.titleBlue:hover{
    background-color: #005d93;
    transition: all 400ms ease-in-out 0.1s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    
}

.titleRed>#vagasDisponiveisTitle {
    font-size: 25px;
    font-weight: bold;
    /*text-align: center;*/
    transition: all 400ms ease-in-out 0.2s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    

}
/*.titleRed>#vagasDisponiveisValue{
    text-align: center;
    transition: all 400ms ease-in-out 0.2s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;

}*/
.titleBlue>#vagasDisponiveisTitle{
    font-size: 21px;
    transition: all 400ms ease-in-out 0.2s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    
}
.inLine {
    display: inline;
}

.heightFix {
    height: 42px;
}
.moneyDirective {
    font-size: 15px;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-weight: 400;

}

.linkCursor:hover {
    cursor:pointer;cursor:hand
}

.scrollTable{
    overflow: hidden;
}

@media (max-width: 1024px) {
    .scrollTable{
        overflow: scroll;
    }
    /* PESQUISA */
    .xdCustomSearch.open .xdCustomSearch-input {
        font-size: 3em!important;
    }
}

.alert-title {
    font-weight: bold;
}

.alert-padding {
    padding-left: 1%;
    display: table;
}

.alertContent{
    -webkit-column-count:3; /* Chrome, Safari, Opera */
    -moz-column-count:3;    /* Firefox */
    column-count:3;         /* padrão */
    overflow: auto;
}

/* TELA LOGIN */
@media (max-height: 510px) {
    .loginLogo,.login-caret {
        padding-top: 1%!important;
    }
    .headerLogin {
        padding-top: 0!important;
    }
}

/* RESET PASSWORD */
p.infoReset {
    font-size: 15px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    padding-top: 6%;
}
div.paddingReset {
    padding: 3%
}
div.bottomReset {
    width: 250px;
}

@font-face {

    font-family: "err";
    src: url("../fonts/GermaniaOne-Regular.ttf") format("truetype");

}

.errNumber {
    font-family: err!important;
    padding: 0!important;
    font-size: 14em!important;

}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;

}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    color: #000;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.paddingB-3 {
    padding-bottom: 3%;
}
.nomeAluno {
    font-weight: 500;
    color: #000;
    padding-top: 5px;
    font-size: 18px;
}

.fadeBordered {
    margin-top: 1%;
    border: 2px solid rgba(175, 175, 175, 0.54);
    border-radius: 3%;
}
.matriculaSearch{
    color: #000;
    padding-top: 5px;
    font-size: 13px;
}
.padding1 {
    padding: 2px;
}

@media (max-width: 640px) {
    ul.navCustom {
        width: 100%;
    }
    div.navCustom {
        width: 100%;
        padding-top: 5%;

    }
    /* PESQUISA */
    .xdCustomSearch {
        right: 25px!important;
    }
    .xdCustomSearch.open .xdCustomSearch-input {
        font-size: 2em!important;
    }
}
@media (max-width: 480px) {
    /* PESQUISA */
    .xdCustomSearch {
        right: 10px!important;
    }
}

/* PESQUISA */

.xdCustomSearch {
    border: 1px solid #eee;
    width: 200px;
    min-height: 40px;
    background: rgba(255, 255, 255, 0.98);
    position: absolute;
    z-index: 1039;
    top: 25px;
    right: 125px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition-property: min-height, width, top, right;
    transition-property: min-height, width, top, right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.xdCustomSearch.open {
    width: 100%;
    border-radius:0px;
    min-height: 100%;
    top: 0px!important;
    right: 0px!important;
}

.xdCustomSearch-form {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    position: relative;
    -webkit-transition-property: width, height, -webkit-transform;
    transition-property: width, height, transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.xdCustomSearch.open .xdCustomSearch-form {
    width: 80%;
    height: 160px;
    -webkit-transform: translate3d(0,3em,0);
    transform: translate3d(0,3em,0);
}

.xdCustomSearch-input {
    width: 100%;
    height: 4.3em;
    padding: 0 10% 0 10px;
    font-weight: 700;
    border: none;
    background: transparent;
    font-size: 0.8em;
    -webkit-transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
    transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
}

.xdCustomSearch-input::-ms-clear {
    display: none;
}

.xdCustomSearch.hideInput .xdCustomSearch-input {
    color: transparent;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.xdCustomSearch.open .xdCustomSearch-input {
    height: 100%!important;
    font-size: 5em;
}

.xdCustomSearch-input::-webkit-input-placeholder {
    color: #c2c2c2;
}

.xdCustomSearch-input:-moz-placeholder {
    color: #c2c2c2;
}

.xdCustomSearch-input::-moz-placeholder {
    color: #c2c2c2;
}

.xdCustomSearch-input:-ms-input-placeholder {
    color: #c2c2c2;
}


.gn-search:focus::-webkit-input-placeholder {
    color: transparent;
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.xdCustomSearch-input:focus,
.xdCustomSearch-submit:focus {
    outline: none;
}
.searchIcon {
    text-align: right;
    color: rgba(0, 0, 0, 0.37);
    background: transparent;
    font-size: 2.5em !important;
    -webkit-transition: font-size, transform 0.5s cubic-bezier(0.7,0,0.3,1);
    transition: font-size, transform 0.5s cubic-bezier(0.7,0,0.3,1);
}
.openSearchIcon {
    transform: scale(2)!important;
    -webkit-transition: transform 0.5s cubic-bezier(0.7,0,0.3,1);
    transition: transform 0.5s cubic-bezier(0.7,0,0.3,1);
}
.xdCustomSearch-close {

    width: 36px;
    height: 36px;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
}
.xdCustomSearch.open .xdCustomSearch-close {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.xdCustomSearch-close::before,
.xdCustomSearch-close::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    border-radius: 3px;
    opacity: 0.2;
    background: #000;
}

.xdCustomSearch-close:hover.xdCustomSearch-close::before,
.xdCustomSearch-close:hover.xdCustomSearch-close::after {
    opacity: 1;
}

.xdCustomSearch-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.xdCustomSearch-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.searchContent {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.transparentBlock {
    width: 100%;
    border-radius:0px;
    min-height: 100%;
    top: 0px!important;
    right: 0px!important;
    background: rgba(255, 255, 255, 0.67);
    position: absolute;
    z-index: 10000;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition-property: min-height, width, top, right, position;
    transition-property: min-height, width, top, right, position;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.transparentBlock.fadeOut {
    position: static!important;
}

.errInputCheck {
    border: 1px;
    border-color: red;
    border-style: solid;
}
.configSecBorder {
    margin-top: 1%;
    border: 2px solid rgba(215, 215, 215, 0.54);
}
.noPadLeft {
    padding-left: 0;
}
.pointP {
    border-radius: 50%;
    display: inline-block;
    width: 4px;
    height: 4px!important;
    background: #000000 none repeat scroll 0%;
}
.pointF {
    height: 4px!important;
    text-transform: uppercase!important;
}
.btn-white.disabled, .btn-white[disabled] {
    background-color: #EEE!important;
}

.spinner {
    margin: 5px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #3598DB;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}