<div collapse="model.lista.length<1"
     class="row" title="Listagem de cheques">
    <div class="col-sm-12 table-responsive" style="overflow: auto;">
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th>Banco</th>
                <th>Agência</th>
                <th>Conta</th>
                <th>Número</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Nome</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in model.lista">
                <td class="text-left" ng-bind="item.banco.text"></td>
                <td class="text-center" ng-bind="item.agencia"></td>
                <td class="text-center" ng-bind="item.conta"></td>
                <td class="text-center" ng-bind="item.numero"></td>
                <td class="text-center" ng-bind="item.data.toLocaleDateString()"></td>
                <td class="text-center" ng-bind="'R$ '+item.valor"></td>
                <td class="text-center" ng-bind="item.titular"></td>
                <td class="text-center">
                    <button type="button" class="btn btn-white" title="Remover"
                            ng-click="model.remove(item)">
                        <i class="entypo-cancel"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>