<ng-form name="formModalCheques"
        ng-controller="Main as main">
    <div class="modal-header">
        <h3 ng-bind="cheq._model.label"
            class="modal-title"></h3>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-4">
                <xd-select data-params="cheq._model.banco"></xd-select>
            </div>
            <div class="col-md-4">
                <xd-input data-params="cheq._model.agencia"></xd-input>
            </div>
            <div class="col-md-4">
                <xd-input data-params="cheq._model.conta"></xd-input>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <xd-input data-params="cheq._model.numero"></xd-input>
            </div>
            <div class="col-md-4">
                <xd-input-date data-params="cheq._model.data" data-opened="main.opened" date-options="main.dateOptions" data-click="main.open"></xd-input-date>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <xd-input-money data-params="cheq._model.valor"></xd-input-money>
            </div>
            <div class="col-md-8">
                <xd-input data-params="cheq._model.titular"></xd-input>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button ng-click="cheq.voltar()"
                type="button" class="btn btn-lg btn-default">Voltar
        </button>
        <a ng-disabled="formModalCheques.$invalid"
           ng-click="cheq.new_cheque(); cheq.lista_cheques.add(cheq._novo_cheque)"
           class="btn btn-lg btn-success btn-icon icon-left">
            <i class="entypo-plus"></i>
            Adicionar Cheque
        </a>
        <br>
        <br>
        <xd-lista-cheques model="cheq.lista_cheques"></xd-lista-cheques>
    </div>
</ng-form>
