<form name="formPreCadastro" class="form-horizontal form-wizard" action method="post" data-target="#step1" ng-cloak>

    <div class="steps-progress">
        <div class="progress-indicator"></div>
    </div>
    <ul>
        <li class="active">
            <a id="cursorSetp0" data-target="#step0" class="linkCursor" data-toggle="tab" ng-click="pre.disableBtn()">
                <span>0</span>
                Listagem
            </a>
        </li>
        <li>
            <a id="cursorSetp1" data-target="#step1" class="linkCursor" data-toggle="tab" ng-click="pre.disableBtn()">
                <span>1</span>
                Informações Essenciais
            </a>
        </li>
        <li>
            <a id="cursorSetp2" data-target="#step2" class="linkCursor" data-toggle="tab" ng-click="pre.disableBtn()">
                <span>2</span>
                Informações de Pagamento
            </a>
        </li>
        <li>
            <a id="cursorSetp3" data-target="#step3" class="linkCursor" data-toggle="tab" ng-click="pre.disableBtn()">
                <span>3</span>
                Documentação Completa
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="alert alert-danger col-md-12" role="alert" ng-show="pre.editing&&pre.showAlert&&vm._model.dataExp.model.val||
                vm._model.orgaoEmissor.model.val||
                vm._model.tituloEleitor.model.val||
                vm._model.zona.model.val||
                vm._model.secao.model.val||
                vm._model.ufTitulo.model.val||
                vm._model.certidaoNc.model.val||
                vm._model.folha.model.val||
                vm._model.livro.model.val||
                vm._model.cartorio.model.val||
                vm._model.certificadoRes.model.val||
                vm._model.registro.model.val||
                vm._model.ufReservista.model.val||
                vm._model.categoria.model.val||
                vm._model.sexo.model.val||
                vm._model.dataNasc.model.val||
                vm._model.raca.model.val||
                vm._model.estadoCivil.model.val||
                vm._model.pai.model.val||
                vm._model.mae.model.val||
                vm._model.avRua.model.val||
                vm._model.endNum.model.val||
                vm._model.apt.model.val||
                vm._model.bairro.model.val||
                vm._model.endUf.model.val||
                vm._model.nacionalidade.model.val||
                vm._model.naturalidade.model.val||
                vm._model.natUf.model.val||
                vm._model.escolaEm.model.val||
                vm._model.anoEm.model.val||
                vm._model.cursoGrad.model.val||
                vm._model.anoGrad.model.val||
                vm._model.instituicao.model.val">
            <button type="button" class="close" aria-label="Close" data-ng-click="pre.disableAlert()"><span aria-hidden="true">&times;</span></button>
            <span class="alert-title">Campos aguardando preenchimento:</span>
            <hr/>
            <div class="alertContent">
                <span class="alert-padding" data-ng-show="!pre._model.dataExp.model.val">{{pre._model.dataExp.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.orgaoEmissor.model.val">{{pre._model.orgaoEmissor.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.tituloEleitor.model.val">{{pre._model.tituloEleitor.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.zona.model.val">{{pre._model.zona.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.secao.model.val">{{pre._model.secao.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.ufTitulo.model.val">{{pre._model.ufTitulo.label}} Título;</span>
                <span class="alert-padding" data-ng-show="!pre._model.certidaoNc.model.val">{{pre._model.certidaoNc.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.folha.model.val">{{pre._model.folha.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.livro.model.val">{{pre._model.livro.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.cartorio.model.val">{{pre._model.cartorio.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.certificadoRes.model.val">{{pre._model.certificadoRes.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.registro.model.val">{{pre._model.registro.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.ufReservista.model.val">{{pre._model.ufReservista.label}} Reservista;</span>
                <span class="alert-padding" data-ng-show="!pre._model.categoria.model.val">{{pre._model.categoria.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.sexo.model.val">{{pre._model.sexo.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.dataNasc.model.val">{{pre._model.dataNasc.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.raca.model.val">{{pre._model.raca.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.estadoCivil.model.val">{{pre._model.estadoCivil.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.pai.model.val">{{pre._model.pai.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.mae.model.val">{{pre._model.mae.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.avRua.model.val">{{pre._model.avRua.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.endNum.model.val">{{pre._model.endNum.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.apt.model.val">{{pre._model.apt.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.bairro.model.val">{{pre._model.bairro.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.endUf.model.val">{{pre._model.endUf.label}} Endereço;</span>
                <span class="alert-padding" data-ng-show="!pre._model.nacionalidade.model.val">{{pre._model.nacionalidade.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.naturalidade.model.val">{{pre._model.naturalidade.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.natUf.model.val">{{pre._model.natUf.label}} Naturalidade;</span>
                <span class="alert-padding" data-ng-show="!pre._model.escolaEm.model.val">{{pre._model.escolaEm.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.anoEm.model.val">{{pre._model.anoEm.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.cursoGrad.model.val">{{pre._model.cursoGrad.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.anoGrad.model.val">{{pre._model.anoGrad.label}};</span>
                <span class="alert-padding" data-ng-show="!pre._model.instituicao.model.val">{{pre._model.instituicao.label}};</span>
            </div>
        </div>

        <div class="tab-pane active" id="step0">
            <div class="col-md-12">
                <xd-panel-collapse title="pre._viewInscr.inscrPanelCollapse.label">
                    <xd-table-pre-cadastro data-cond="pre.condTable" data-params="pre._viewInscr"></xd-table-pre-cadastro>
                    <p class="text-warning" ng-show="pre.editing">*Cadastro ou edição em andamento ({{!!pre._model.nome.model.val?('Nome: '+pre._model.nome.model.val) : ('CPF: '+pre._model.cpf.model.val)}})</p>
                </xd-panel-collapse>
            </div>
        </div>

        <div class="tab-pane" id="step1">
            <xd-panel-collapse title="pre._model.alunoPanelCollapse.label">
                <div class="row">

                    <div class="col-md-6">
                        <xd-input data-params="pre._model.cpf" data-change="pre.verificaCpf"></xd-input>
                    </div>
                    <div class="col-md-6">
                        <xd-input data-params="pre._model.rg"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <xd-input data-params="pre._model.nome"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <xd-input data-params="pre._model.cidade"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-5">
                        <xd-input data-params="pre._model.cep"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <xd-input data-params="pre._model.telefone"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-5">
                        <xd-select data-params="pre._model.tipoTelefone"
                                   data-change="pre.selectPhoneType"
                                   d-validate="'required'"
                                   data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <xd-input-email data-params="pre._model.email"
                                  data-disable="!pre.validaCpf"></xd-input-email>
                    </div>
                </div>

            </xd-panel-collapse>

            <xd-panel-collapse  title="pre._model.cursoPanelCollapse.label">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <xd-select data-params="pre._model.unidade" data-change="pre.unidadeChange" data-disable="!pre.validaCpf"></xd-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="pre.selectCursoArea">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <xd-select data-params="pre._model.area" data-change="pre.areaChange" data-disable="!pre.validaCpf"></xd-select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="pre.selectCursoCurso">

                    <div class="col-md-12">
                        <xd-select data-params="pre._model.curso" data-change="pre.cursoChange" data-disable="!pre.validaCpf"></xd-select>
                    </div>

                    <div id="precadastro-vagas" class="col-md-12" ng-show="pre.selectCursoVagas"><br>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-5">
                            <div data-ng-class="pre._model.vagas.css" class="tile-stats">
                                <div class="icon"><i class="entypo-users"></i></div>
                                <h3 id="vagasDisponiveisTitle">Vagas disponíveis</h3>
                                <p id="vagasDisponiveisValue" class="num"><span data-ng-bind="pre._model.vagas.getDisponiveis()"></span></p>
                                <h3>Vagas totais</h3>
                                <p><span data-ng-bind="pre._model.vagas.totais"></span></p>
                            </div>
                        </div>
                    </div>

                </div>
            </xd-panel-collapse>

            <xd-panel-collapse title="pre._model.inscrPanelCollapse.label">
                <div class="row">
                    <div class="col-md-12">
                        <xd-input-money data-params="pre._model.valorInscricao" disable="true"></xd-input-money>
                    </div>
                </div>
                <!--div class="row">
                    <div class="col-md-12">
                        <xd-select data-params="pre._model.desconto" data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div-->
                <div class="row">
                    <div class="col-md-12">
                        <xd-select data-params="pre._model.formaPagamentoInscr" data-change="pre.selectChequeStep1" data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div>
                <!--BOTAO ADD CHEQUE-->
                <div class="row" ng-show="pre.btnAddChequeStep1">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-icon icon-left btn-lg" data-bind="" id="btn_addChequeStep1" ng-click="pre.openModalCheque()">
                                        Adicionar Cheques
                                        <i class="entypo-credit-card"></i>
                                    </button>
                                    <p data-collapse="!pre._model.desconto.model.err"
                                       data-ng-bind="pre._model.desconto.model.err"
                                       class="control-label"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- LISTAR CHEQUES -->
                <div class="row" ng-show="pre.lista_cheques.lista.length > 0">
                    <div class="col-md-12">
                        <div class="col-md-12 left">
                            <label>
                                Cheques adicionados:
                            </label>
                        </div>
                        <div class="col-md-12">
                            <xd-lista-cheques model="pre.lista_cheques"></xd-lista-cheques>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!--xd-select data-params="pre._model.qtdParcelas"></xd-select>
                    </div>
                </--div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-select data-params="pre._model.melhorData" data-disable="!pre.validaCpf"></xd-select-->
                    </div>
                </div>
            </xd-panel-collapse>
        </div>

        <div class="tab-pane" id="step2">

            <xd-panel-collapse title="pre._model.pagamentoPanelCollapse.label">
                <div class="row">
                    <div class="col-md-12">
                        <xd-input-money data-params="pre._model.valorIntegral"
                                        disable="true"></xd-input-money>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--<xd-input data-params="pre._model.desconto"-->
                        <!--data-disable="!pre.validaCpf"></xd-input>-->
                        <xd-select data-params="pre._model.desconto"
                                   disabled="!pre.validaCpf" data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--<xd-input data-params="pre._model.forma"
                                  data-disable="!pre.validaCpf"></xd-input>-->
                        <xd-select data-params="pre._model.formaPagamentoPag"
                                   data-disable="!pre.validaCpf"
                                   data-change="pre.selectChequeStep2" data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div>
                <!--BOTÃO ADD CHEQUE-->
                <div class="row" ng-show="pre.btnAddChequeStep2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-icon icon-left btn-lg" data-bind="" id="btn_addChequeStep3" ng-click="pre.openModalCheque()">
                                        Adicionar Cheques
                                        <i class="entypo-credit-card"></i>
                                    </button>
                                    <p data-collapse="!pre._model.desconto.model.err"
                                       data-ng-bind="pre._model.desconto.model.err"
                                       class="control-label"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--<xd-input data-params="pre._model.parcelamento"
                                  data-disable="!pre.validaCpf"></xd-input>-->
                        <xd-select data-params="pre._model.qtdParcelas"
                                   data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input-money data-params="pre._model.valorParcela"
                                        data-disable="!pre.validaCpf"></xd-input-money>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-select data-params="pre._model.melhorData"
                                  data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input-textarea data-params="pre._model.observacoes"
                                           data-disable="!pre.validaCpf"></xd-input-textarea>
                    </div>
                    <div class="col-md-12">

                    </div>
                </div>
            </xd-panel-collapse>

        </div>

        <div class="tab-pane" id="step3">

            <xd-panel-collapse title="pre._model.documentacaoPanelCollapse.label">
                <div class="row">
                    <div class="col-md-12">
                        <xd-input data-params="pre._model.nome"
                                  disable="true"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <xd-input data-params="pre._model.rg"
                                  disable="true"></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-input-date data-disable="!pre.validaCpf"data-params="pre._model.dataExp" data-opened="main.opened"
                                       date-options="main.dateOptions" data-click="main.open"></xd-input-date>
                    </div>
                    <div class="col-md-4">
                        <xd-input data-params="pre._model.orgaoEmissor"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <xd-input data-params="pre._model.tituloEleitor"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input data-params="pre._model.zona"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input data-params="pre._model.secao"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-select data-params="pre._model.ufTitulo"
                                   data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <xd-input data-params="pre._model.certidaoNc"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input data-params="pre._model.folha"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input data-params="pre._model.livro"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input data-params="pre._model.cartorio"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <xd-input data-params="pre._model.certificadoRes"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-5">
                        <xd-input data-params="pre._model.registro"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-select data-params="pre._model.ufReservista"
                                   data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <xd-input data-params="pre._model.categoria"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-5">
                        <xd-input data-params="pre._model.cpf"
                                  disable="true"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-select data-params="pre._model.sexo"
                                   data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <xd-input-date data-disable="!pre.validaCpf"data-params="pre._model.dataNasc" data-opened="main.opened"
                                       date-options="main.dateOptions" data-click="main.open"></xd-input-date>
                    </div>
                    <div class="col-md-3">
                        <xd-input data-params="pre._model.raca"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-input data-params="pre._model.estadoCivil"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input data-params="pre._model.pai"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <xd-input data-params="pre._model.mae"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <xd-input data-params="pre._model.avRua"
                                  disable="true"></xd-input>
                    </div>
                    <div class="col-md-2">
                        <xd-input data-params="pre._model.endNum"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-2">
                        <xd-input data-params="pre._model.apt"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input data-params="pre._model.cep"
                                  disable="true"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <xd-input data-params="pre._model.bairro"
                                  disable="true"></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-input data-params="pre._model.cidade"
                                  disable="true"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-select data-params="pre._model.endUf"
                                  disable="true"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <xd-input data-params="pre._model.telefone"
                                  disable="true"></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-select data-params="pre._model.tipoTelefone" data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input-email data-params="pre._model.email"
                                  disable="true"></xd-input-email>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <xd-input data-params="pre._model.nacionalidade"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-input data-params="pre._model.naturalidade"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-select data-params="pre._model.natUf"
                                   data-disable="!pre.validaCpf"></xd-select>
                    </div>
                </div>
            </xd-panel-collapse>

            <xd-panel-collapse title="pre._model.documentacaoPanelCollapse.label2">
                <div class="row">
                    <div class="col-md-8">
                        <xd-input data-params="pre._model.escolaEm"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-input data-params="pre._model.anoEm"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <xd-input data-params="pre._model.cursoGrad"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-input data-params="pre._model.anoGrad"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input data-params="pre._model.instituicao"
                                  data-disable="!pre.validaCpf"></xd-input>
                    </div>
                </div>
            </xd-panel-collapse>

        </div>

        <ul class="pager wizard centered">
            <!--<li class="previous">
                <button class="btn btn-blue btn-icon icon-left btn-lg" ng-click="pre.topCollapse()">
                    Primeiro
                    <i class="entypo-to-start"></i>
                </button>
            </li>-->
            <li class="previous col-md-3">
                <button class="btn btn-blue btn-icon icon-left btn-block btn-lg" data-ng-disabled="pre.disableAnterior" ng-click="pre.topCollapse();pre.disableBtn()">
                    <i class="entypo-left"></i> Anterior
                </button>
            </li>
            <li class="col-md-3 inLine">
                <button class="btn btn-green btn-lg btn-icon icon-left btn-block" data-ng-disabled="pre.disableAnterior||(pre._model.cpf.model.val.length != 11)" ng-click="pre.sendInscricao()">
                    Salvar
                    <i class="entypo-check"></i>
                </button>
            </li>

            <li class="col-md-3 inLine" ng-hide="pre.disableAtualiza">
                <button class="btn btn-primary btn-icon icon-left btn-block btn-lg">
                    Atualizar
                    <i class="icon entypo-cw icon-right"></i></button>
            </li>
            <li class="col-md-3 inLine" ng-show="pre.disableAtualiza&&!pre.disableLimpar">
                <button class="btn btn-warning btn-icon icon-left btn-block btn-lg" data-toggle="modal" data-target="#confirmClear" data-ng-disabled="pre._model.cpf.model.val.length != 11">
                    Limpar
                    <i class="icon entypo-cup icon-right"></i></button>
            </li>
            <li class="col-md-3 inLine" ng-show="pre.disableAtualiza&&pre.disableLimpar">
                <button class="btn btn-danger btn-icon icon-left btn-block btn-lg" data-toggle="modal" data-target="#confirmCancel">
                    Cancelar
                    <i class="icon entypo-cancel icon-right"></i></button>
            </li>
            <li class="next col-md-3" ng-show="pre.disableAtualiza">
                <button class="btn btn-blue btn-icon icon-right btn-block btn-lg" ng-click="pre.topCollapse();pre.disableBtn()" data-ng-disabled="pre.disableProximo">
                    Próximo <i class="entypo-right"></i>
                </button>
            </li>
            <li class="next col-md-3" ng-hide="pre.disableAtualiza">
                <button class="btn btn-blue btn-icon icon-right btn-block btn-lg" ng-click="pre.topCollapse();pre.disableBtn()">
                    Novo <i class="entypo-right"></i>
                </button>
            </li>
            <!--<li class="next last">
                <button class="btn btn-blue btn-icon icon-right btn-lg" ng-click="pre.topCollapse()">
                    Último <i class="entypo-to-end"></i>
                </button>
            </li>-->
        </ul>

        <hr/>
        <div class="text-center col-md-12">
            <div class="form-group">

                <!--<div class="col-md-3 center-block">
                    <button class="btn btn-danger btn-lg btn-icon icon-left">
                        Cancelar
                        <i class="entypo-cancel"></i>
                    </button>
                </div>-->

                <!--<div class="col-md-4 col-md-offset-1 inLine">
                    <button name="efetuarMat" class="btn btn-green btn-lg btn-icon icon-left btn-block" ng-click="pre.sendDadosMatricula()">
                        Efetuar Matrícula
                        <i class="entypo-list-add"></i>
                    </button>
                </div>-->
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //    SÓ CARREGA OS ARQUIVOS ABAIXO QUANDO OS DOM ESTIVER COMPLETO
    $(document).ready(function() {

        $.getScript('assets/neon/js/neon-api.js');
        $.getScript('assets/neon/js/neon-chat.js');
        $.getScript('assets/neon/js/neon-custom.js');
        $.getScript('assets/neon/js/neon-demo.js');
        $.getScript('assets/js/jquery.bootstrap.wizard.min.js');


    });
</script>
<!-- MODAL LIMPAR -->
<div aria-hidden="true" style="display: none;" class="modal fade" id="confirmClear">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Limpar formulário</h4>
            </div>
            <div class="modal-body">

                <p class="text-danger">TEM CERTEZA QUE DESEJA LIMPAR O FORMULÁRIO ATUAL?</p>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-default btn-lg btn-icon icon-left pull-left" data-dismiss="modal"><i class="entypo-left-bold"></i>Voltar</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-danger btn-lg btn-icon icon-left pull-right" data-dismiss="modal" data-ng-click="pre.limpaForm()"><i class="entypo-cup"></i>Limpar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CANCELAR-->
<div aria-hidden="true" style="display: none;" class="modal fade" id="confirmCancel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cancelar edição</h4>
            </div>
            <div class="modal-body">

                <p class="text-danger">TEM CERTEZA QUE DESEJA CANCELAR A EDIÇÃO DO CADASTRO ATUAL?</p>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-default btn-lg btn-icon icon-left pull-left" data-dismiss="modal"><i class="entypo-left-bold"></i>Voltar</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-danger btn-lg btn-icon icon-left pull-right" data-dismiss="modal" data-ng-click="pre.cancelEdit()" data-target="#step0" onclick="$('#cursorSetp0').click()"><i class="entypo-cancel  "></i>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL EDIÇÃO-->
<div aria-hidden="true" style="display: none;" class="modal fade" id="confirmEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Processo de edição/cadastro em andamento</h4>
            </div>
            <div class="modal-body">

                <p class="text-danger"><i class="fa fa-lg"></i>Há, atualmente, um cadastro em processo de edição/cadastro, deseja ignorá-lo?</p><p class="text-center text-warning">*Qualquer alteração feita será despresada</p>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-default btn-lg btn-icon icon-left pull-left" data-dismiss="modal"><i class="entypo-left-bold"></i>Não</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-danger btn-lg btn-icon icon-left pull-right" data-dismiss="modal" ng-click="pre.confirmEdit(pre.tempItem)" data-target="#step0" onclick="$('#cursorSetp1').click()"><i class="entypo-cancel"></i>Sim</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>