<form onload="$('#btn_addChequeStep1').slideUp();" id="teste" class="form-horizontal form-wizard" ng-controller="FormPreCadastro as pre" action method="post" data-target="#step1">

    <div class="steps-progress">
        <div class="progress-indicator" style="width: 0%"></div>
    </div>
    <ul>
        <li>
            <a href="#step1" data-toggle="tab">
                <span>1</span>
                "Passo 1"
            </a>
        </li>
        <li>
            <a href="#step2" data-toggle="tab">
                <span>2</span>
                "Passo 2"
            </a>
        </li>
        <li>
            <a href="#step3" data-toggle="tab">
                <span>3</span>
                "Passo 3"
            </a>
        </li>
    </ul>



    <div class="tab-content">

        <div class="tab-pane" id="step1">
            <xd-panel-collapse title="pre._model.aluno.label">
                <div class="row">

                    <div class="col-md-6">
                        <xd-input name="pre._model.aluno.cpf.name"
                                  model="pre._model.aluno.cpf.model"
                                  type="pre._model.aluno.cpf.type"
                                  label="pre._model.aluno.cpf.label"
                                  mask="pre._model.aluno.cpf.mask"
                                  placeholder=""
                                  d-validate="'required'"></xd-input>
                    </div>
                    <div class="col-md-6">
                        <xd-input name="pre._model.aluno.rg.name"
                                  model="pre._model.aluno.rg.model"
                                  type="pre._model.aluno.rg.type"
                                  label="pre._model.aluno.rg.label"
                                  mask="pre._model.aluno.rg.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="pre._model.aluno.nome.name"
                                  model="pre._model.aluno.nome.model"
                                  type="pre._model.aluno.nome.type"
                                  label="pre._model.aluno.nome.label"
                                  mask="pre._model.aluno.nome.mask"
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <xd-input name="pre._model.aluno.cidade.name"
                                  model="pre._model.aluno.cidade.model"
                                  type="pre._model.aluno.cidade.type"
                                  label="pre._model.aluno.cidade.label"
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-5">
                        <xd-input name="pre._model.aluno.cep.name"
                                  model="pre._model.aluno.cep.model"
                                  type="pre._model.aluno.cep.type"
                                  label="pre._model.aluno.cep.label"
                                  mask="pre._model.aluno.cep.mask"
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <xd-input name="pre._model.aluno.telefone.name"
                                  model="pre._model.aluno.telefone.model"
                                  type="pre._model.aluno.telefone.type"
                                  label="pre._model.aluno.telefone.label"
                                  mask="pre._model.aluno.telefone.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-5">
                        <xd-select data-params="pre._model.aluno.tipo_telefone"
                                   data-change="pre.selectPhoneType"
                                   d-validate="'required'"></xd-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="pre._model.aluno.email.name"
                                  model="pre._model.aluno.email.model"
                                  type="pre._model.aluno.email.type"
                                  label="pre._model.aluno.email.label"
                                  mask="pre._model.aluno.email.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>

            </xd-panel-collapse>

            <xd-panel-collapse  title="pre._model.curso.label">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <xd-select data-params="pre._model.curso.unidade"></xd-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <xd-select data-params="pre._model.curso.area"></xd-select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <xd-select data-params="pre._model.curso.curso" data-change="pre.getVagas"></xd-select>
                            </div>

                            <div id="precadastro-vagas" class="form-group"><br>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5">
                                    <!--ko foreach: preCadastro.cursos()-->
                                    <!--ko if: codigo() === $root.preCadastro.filtro.codCurso()-->
                                    <div data-bind="css: vagasPreenchidas()/(vagasTotais() == 0 ? 1 : vagasTotais()) >= 0.9 ? 'tile-red' : 'tile-gray'"
                                         class="tile-stats">
                                        <div class="icon"><i class="entypo-users"></i></div>
                                        <div class="num" data-bind="text: vagasTotais() - vagasPreenchidas()"></div>
                                        <h3>Vagas disponíveis</h3>
                                        <p><span data-ng-bind="pre._model.curso.vagas.getDisponiveis()"></span></p>
                                        <h3>Vagas totais</h3>
                                        <p><span data-ng-bind="pre._model.curso.vagas.totais"></span></p>
                                    </div>
                                    <!--/ko-->
                                    <!--/ko-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </xd-panel-collapse>

            <xd-panel-collapse title="pre._model.inscr.label">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12 left">
                                    <label for="{{'input_'+pre._model.inscr.inscricao.name}}">
                                        {{pre._model.inscr.inscricao.label}}
                                    </label>
                                </div>

                                <div class="col-md-12 input-group">
                                    <div class="input-group-addon">R$</div>
                                    <input data-ng-model="pre._model.inscr.inscricao.model.val"
                                           placeholder="{{pre._model.inscr.inscricao.placeholder}}"
                                           type="{{pre._model.inscr.inscricao.type || text}}"
                                           class="form-control"
                                           ui-mask="{{pre._model.inscr.inscricao.mask}}"
                                           name="{{pre._model.inscr.inscricao.name}}"
                                           id="{{'input_'+pre._model.inscr.inscricao.name}}"
                                           ng-disabled="!pre.validaCpf"
                                           data-validate="{{pre._model.inscr.inscricao.dValidate}}"
                                           ng-required="pre._model.inscr.inscricao.required">

                                    <p data-collapse="!pre._model.inscr.inscricao.model.err"
                                       data-ng-bind="pre._model.inscr.inscricao.model.err"
                                       class="control-label"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-select data-params="pre._model.inscr.desconto"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-select data-params="pre._model.inscr.formaPagamento" data-change="pre.selectCheque"></xd-select>
                    </div>
                </div>
                <!--BOTAO ADD CHEQUE-->
                <div class="row" ng-show="true">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-icon icon-left btn-lg" data-bind="" id="btn_addChequeStep1" ng-click="pre.openModalCheque()">
                                        Adicionar Cheques
                                        <i class="entypo-credit-card"></i>
                                    </button>
                                    <p data-collapse="!pre._model.inscr.desconto.model.err"
                                       data-ng-bind="pre._model.inscr.desconto.model.err"
                                       class="control-label"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-select data-params="pre._model.inscr.qtdParcelas"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-select data-params="pre._model.inscr.melhorData"></xd-select>
                    </div>
                </div>
            </xd-panel-collapse>
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <div class="col-md-6 text-right col-md-offset-1">
                        <button class="btn btn-green btn-lg btn-icon icon-left" ng-click="pre.salvarFirstData()">
                            Salvar
                            <i class="entypo-check"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="step2">
            <xd-panel-collapse title="pre._model.documentacao.label">
                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="pre._model.aluno.nome.name"
                                  model="pre._model.aluno.nome.model"
                                  type="pre._model.aluno.nome.type"
                                  label="pre._model.aluno.nome.label"
                                  mask="pre._model.aluno.nome.mask"
                                  dValidate="'required'"
                                  disable="true"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <xd-input name="pre._model.aluno.rg.name"
                                  model="pre._model.aluno.rg.model"
                                  type="pre._model.aluno.rg.type"
                                  label="pre._model.aluno.rg.label"
                                  mask="pre._model.aluno.rg.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="true"
                                  ></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-input name="pre._model.aluno.dataExp.name"
                                  model="pre._model.aluno.dataExp.model"
                                  type="pre._model.aluno.dataExp.type"
                                  label="pre._model.aluno.dataExp.label"
                                  mask="pre._model.aluno.dataExp.mask"
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-input name="pre._model.aluno.orgaoEmissor.name"
                                  model="pre._model.aluno.orgaoEmissor.model"
                                  type="pre._model.aluno.orgaoEmissor.type"
                                  label="pre._model.aluno.orgaoEmissor.label"
                                  mask="pre._model.aluno.orgaoEmissor.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.tituloEleitor.name"
                                  model="pre._model.aluno.tituloEleitor.model"
                                  type="pre._model.aluno.tituloEleitor.type"
                                  label="pre._model.aluno.tituloEleitor.label"
                                  mask="pre._model.aluno.tituloEleitor.mask"
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.zona.name"
                                  model="pre._model.aluno.zona.model"
                                  type="pre._model.aluno.zona.type"
                                  label="pre._model.aluno.zona.label"
                                  mask="pre._model.aluno.zona.mask"
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.secao.name"
                                  model="pre._model.aluno.secao.model"
                                  type="pre._model.aluno.secao.type"
                                  label="pre._model.aluno.secao.label"
                                  mask="pre._model.aluno.secao.mask"
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.ufTitulo.name"
                                  model="pre._model.aluno.ufTitulo.model"
                                  type="pre._model.aluno.ufTitulo.type"
                                  label="pre._model.aluno.ufTitulo.label"
                                  mask="pre._model.aluno.ufTitulo.mask"
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.certidaoNc.name"
                                  model="pre._model.aluno.certidaoNc.model"
                                  type="pre._model.aluno.certidaoNc.type"
                                  label="pre._model.aluno.certidaoNc.label"
                                  mask="pre._model.aluno.certidaoNc.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.folha.name"
                                  model="pre._model.aluno.folha.model"
                                  type="pre._model.aluno.folha.type"
                                  label="pre._model.aluno.folha.label"
                                  mask="pre._model.aluno.folha.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.livro.name"
                                  model="pre._model.aluno.livro.model"
                                  type="pre._model.aluno.livro.type"
                                  label="pre._model.aluno.livro.label"
                                  mask="pre._model.aluno.livro.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.cartorio.name"
                                  model="pre._model.aluno.cartorio.model"
                                  type="pre._model.aluno.cartorio.type"
                                  label="pre._model.aluno.cartorio.label"
                                  mask="pre._model.aluno.cartorio.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <xd-input name="pre._model.aluno.certificadoRes.name"
                                  model="pre._model.aluno.certificadoRes.model"
                                  type="pre._model.aluno.certificadoRes.type"
                                  label="pre._model.aluno.certificadoRes.label"
                                  mask="pre._model.aluno.certificadoRes.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-5">
                        <xd-input name="pre._model.aluno.registro.name"
                                  model="pre._model.aluno.registro.model"
                                  type="pre._model.aluno.registro.type"
                                  label="pre._model.aluno.registro.label"
                                  mask="pre._model.aluno.registro.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.ufReservista.name"
                                  model="pre._model.aluno.ufReservista.model"
                                  type="pre._model.aluno.ufReservista.type"
                                  label="pre._model.aluno.ufReservista.label"
                                  mask="pre._model.aluno.ufReservista.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <xd-input name="pre._model.aluno.categoria.name"
                                  model="pre._model.aluno.categoria.model"
                                  type="pre._model.aluno.categoria.type"
                                  label="pre._model.aluno.categoria.label"
                                  mask="pre._model.aluno.categoria.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-5">
                        <xd-input name="pre._model.aluno.cpf.name"
                                  model="pre._model.aluno.cpf.model"
                                  type="pre._model.aluno.cpf.type"
                                  label="pre._model.aluno.cpf.label"
                                  mask="pre._model.aluno.cpf.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="true"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.sexo.name"
                                  model="pre._model.aluno.sexo.model"
                                  type="pre._model.aluno.sexo.type"
                                  label="pre._model.aluno.sexo.label"
                                  mask="pre._model.aluno.sexo.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <xd-input name="pre._model.aluno.dataNasc.name"
                                  model="pre._model.aluno.dataNasc.model"
                                  type="pre._model.aluno.dataNasc.type"
                                  label="pre._model.aluno.dataNasc.label"
                                  mask="pre._model.aluno.dataNasc.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.raca.name"
                                  model="pre._model.aluno.raca.model"
                                  type="pre._model.aluno.raca.type"
                                  label="pre._model.aluno.raca.label"
                                  mask="pre._model.aluno.raca.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-input name="pre._model.aluno.estadoCivil.name"
                                  model="pre._model.aluno.estadoCivil.model"
                                  type="pre._model.aluno.estadoCivil.type"
                                  label="pre._model.aluno.estadoCivil.label"
                                  mask="pre._model.aluno.estadoCivil.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="pre._model.aluno.pai.name"
                                  model="pre._model.aluno.pai.model"
                                  type="pre._model.aluno.pai.type"
                                  label="pre._model.aluno.pai.label"
                                  mask="pre._model.aluno.pai.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <xd-input name="pre._model.aluno.mae.name"
                                  model="pre._model.aluno.mae.model"
                                  type="pre._model.aluno.mae.type"
                                  label="pre._model.aluno.mae.label"
                                  mask="pre._model.aluno.mae.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <xd-input name="pre._model.aluno.avRua.name"
                                  model="pre._model.aluno.avRua.model"
                                  type="pre._model.aluno.avRua.type"
                                  label="pre._model.aluno.avRua.label"
                                  mask="pre._model.aluno.avRua.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="true"
                                  ></xd-input>
                    </div>
                    <div class="col-md-2">
                        <xd-input name="pre._model.aluno.endNum.name"
                                  model="pre._model.aluno.endNum.model"
                                  type="pre._model.aluno.endNum.type"
                                  label="pre._model.aluno.endNum.label"
                                  mask="pre._model.aluno.endNum.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="false"
                                  ></xd-input>
                    </div>
                    <div class="col-md-2">
                        <xd-input name="pre._model.aluno.apt.name"
                                  model="pre._model.aluno.apt.model"
                                  type="pre._model.aluno.apt.type"
                                  label="pre._model.aluno.apt.label"
                                  mask="pre._model.aluno.apt.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="false"
                                  ></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input name="pre._model.aluno.cep.name"
                                  model="pre._model.aluno.cep.model"
                                  type="pre._model.aluno.cep.type"
                                  label="pre._model.aluno.cep.label"
                                  mask="pre._model.aluno.cep.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="true"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <xd-input name="pre._model.aluno.bairro.name"
                                  model="pre._model.aluno.bairro.model"
                                  type="pre._model.aluno.bairro.type"
                                  label="pre._model.aluno.bairro.label"
                                  mask="pre._model.aluno.bairro.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="true"
                                  ></xd-input>
                    </div>
                    <div class="col-md-5">
                        <xd-input name="pre._model.aluno.cidade.name"
                                  model="pre._model.aluno.cidade.model"
                                  type="pre._model.aluno.cidade.type"
                                  label="pre._model.aluno.cidade.label"
                                  mask="pre._model.aluno.cidade.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-2">
                        <xd-input name="pre._model.aluno.endUf.name"
                                  model="pre._model.aluno.endUf.model"
                                  type="pre._model.aluno.endUf.type"
                                  label="pre._model.aluno.endUf.label"
                                  mask="pre._model.aluno.endUf.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="false"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <xd-input name="pre._model.aluno.telefone.name"
                                  model="pre._model.aluno.telefone.model"
                                  type="pre._model.aluno.telefone.type"
                                  label="'Contato'"
                                  mask="pre._model.aluno.telefone.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="true"
                                  ></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-select data-params="pre._model.aluno.tipo_telefone" disabled="true"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="pre._model.aluno.email.name"
                                  model="pre._model.aluno.email.model"
                                  type="pre._model.aluno.email.type"
                                  label="pre._model.aluno.email.label"
                                  mask="pre._model.aluno.email.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="true"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <xd-input name="pre._model.aluno.nacionalidade.name"
                                  model="pre._model.aluno.nacionalidade.model"
                                  type="pre._model.aluno.nacionalidade.type"
                                  label="pre._model.aluno.nacionalidade.label"
                                  mask="pre._model.aluno.nacionalidade.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-5">
                        <xd-input name="pre._model.aluno.naturalidade.name"
                                  model="pre._model.aluno.naturalidade.model"
                                  type="pre._model.aluno.naturalidade.type"
                                  label="pre._model.aluno.naturalidade.label"
                                  mask="pre._model.aluno.naturalidade.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-2">
                        <xd-input name="pre._model.aluno.natUf.name"
                                  model="pre._model.aluno.natUf.model"
                                  type="pre._model.aluno.natUf.type"
                                  label="pre._model.aluno.natUf.label"
                                  mask="pre._model.aluno.natUf.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
            </xd-panel-collapse>

            <xd-panel-collapse title="pre._model.documentacao.label2">
                <div class="row">
                    <div class="col-md-8">
                        <xd-input name="pre._model.documentacao.escolaEm.name"
                                  model="pre._model.documentacao.escolaEm.model"
                                  type="pre._model.documentacao.escolaEm.type"
                                  label="pre._model.documentacao.escolaEm.label"
                                  mask="pre._model.documentacao.escolaEm.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-input name="pre._model.documentacao.anoEm.name"
                                  model="pre._model.documentacao.anoEm.model"
                                  type="pre._model.documentacao.anoEm.type"
                                  label="pre._model.documentacao.anoEm.label"
                                  mask="pre._model.documentacao.anoEm.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <xd-input name="pre._model.documentacao.cursoGrad.name"
                                  model="pre._model.documentacao.cursoGrad.model"
                                  type="pre._model.documentacao.cursoGrad.type"
                                  label="pre._model.documentacao.cursoGrad.label"
                                  mask="pre._model.documentacao.cursoGrad.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                    <div class="col-md-4">
                        <xd-input name="pre._model.documentacao.anoGrad.name"
                                  model="pre._model.documentacao.anoGrad.model"
                                  type="pre._model.documentacao.anoGrad.type"
                                  label="pre._model.documentacao.anoGrad.label"
                                  mask="pre._model.documentacao.anoGrad.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="pre._model.documentacao.instituicao.name"
                                  model="pre._model.documentacao.instituicao.model"
                                  type="pre._model.documentacao.instituicao.type"
                                  label="pre._model.documentacao.instituicao.label"
                                  mask="pre._model.documentacao.instituicao.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
            </xd-panel-collapse>

            <div class="col-md-12 text-center">
                <div class="form-group">
                    <div class="col-md-6 text-right col-md-offset-1">
                        <button class="btn btn-green btn-lg btn-icon icon-left">
                            Salvar
                            <i class="entypo-check"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane" id="step3">

            <xd-panel-collapse title="pre._model.pagamento.label">
                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="pre._model.pagamento.valorIntegral.name"
                                  model="pre._model.pagamento.valorIntegral.model"
                                  type="pre._model.pagamento.valorIntegral.type"
                                  label="pre._model.pagamento.valorIntegral.label"
                                  mask="pre._model.pagamento.valorIntegral.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="true"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="pre._model.pagamento.desconto.name"
                                  model="pre._model.pagamento.desconto.model"
                                  type="pre._model.pagamento.desconto.type"
                                  label="pre._model.pagamento.desconto.label"
                                  mask="pre._model.pagamento.desconto.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="pre._model.pagamento.forma.name"
                                  model="pre._model.pagamento.forma.model"
                                  type="pre._model.pagamento.forma.type"
                                  label="pre._model.pagamento.forma.label"
                                  mask="pre._model.pagamento.forma.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <!--BOTÃO ADD CHEQUE-->
                <div class="row" ng-show="true">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-icon icon-left btn-lg" data-bind="" id="btn_addChequeStep3" ng-click="openModalCheque()">
                                        Adicionar Cheques
                                        <i class="entypo-credit-card"></i>
                                    </button>
                                    <p data-collapse="!pre._model.inscr.desconto.model.err"
                                       data-ng-bind="pre._model.inscr.desconto.model.err"
                                       class="control-label"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="pre._model.pagamento.parcelamento.name"
                                  model="pre._model.pagamento.parcelamento.model"
                                  type="pre._model.pagamento.parcelamento.type"
                                  label="pre._model.pagamento.parcelamento.label"
                                  mask="pre._model.pagamento.parcelamento.mask"
                                  placeholder=""
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="'Valor da Parcela'"
                                  model=""
                                  type="'text'"
                                  label="'Valor da parcela'"
                                  dValidate="'required'"
                                  disable="true"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input name="pre._model.pagamento.melhor_data.name"
                                  model="pre._model.pagamento.melhor_data.model"
                                  type="pre._model.pagamento.melhor_data.type"
                                  label="pre._model.pagamento.melhor_data.label"
                                  mask="pre._model.pagamento.melhor_data.mask"
                                  dValidate="'required'"
                                  disable="!pre.validaCpf"
                                  ></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label for="{{'textarea_'+pre._model.pagamento.observacoes.name}}">{{pre._model.pagamento.observacoes.label}}</label>
                                </div>
                                <div class="col-md-12">
                                    <textarea name="{{pre._model.pagamento.observacoes.name}}"
                                      id="{{'textarea_'+pre._model.pagamento.observacoes.name}}" cols="30" rows="10" class="form-control" data-ng-model="pre._model.pagamento.observacoes.model.val" ng-disabled="!pre.validaCpf"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </xd-panel-collapse>

            <div class="col-md-12 text-center">
                <div class="form-group">
                <div class="col-md-4 text-right">
                    <button class="btn btn-green btn-lg btn-icon icon-left">
                        Efetuar Matrícula
                        <i class="entypo-list-add"></i>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-danger btn-lg btn-icon icon-left">
                        Cancelar
                        <i class="entypo-cancel"></i>
                    </button>
                </div>
                <div class="col-md-4 text-left">
                    <button class="btn btn-info btn-lg btn-icon icon-left">
                        Imprimir
                        <i class="entypo-print"></i>
                    </button>
                </div>
                </div>
            </div>

        </div>

    </div>

</form>