<div class="form-group">

    <div class="col-md-12">
        <table class="table table-condensed table-bordered table-hover table-striped table-responsive">
            <thead>
            <tr>
                <th class="text-center" ng-repeat="title in params.titles">{{title}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lst in params.list">
                <th class="text-center" ng-repeat="text in lst" ng-if="!if(text)">{{text}}</th>
                <th ng-repeat="text in lst" ng-if="if(text)"><p ng-hide="text">INCOMPLETO<i title="Editar" class="btn btn-icon entypo-pencil"></i><i title="Imprimir Contrato" class="btn btn-icon entypo-print"></i></p><p ng-show="text">COMPLETO<i title="Imprimir Contrato" class="btn btn-icon entypo-print"></i></p></th>
            </tr>
            </tbody>
        </table>
    </div>

    <p data-collapse="params.model.err == ''"
       data-ng-bind="params.model.err"
       class="control-label"></p>

</div>