loca<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <h2><i class="entypo-plus-circled"></i> <span>Curso</span><br/></h2>
        </div>
    </div>
</div>
<hr/>
<br/>
<div ng-hide="ac.editing">
    <div class="row">
        <div class="col-md-12">
            <xd-grid data-params="ac.tableCursos"></xd-grid>
        </div>
    </div>
</div>
<div ng-show="ac.editing">
    <div class="row">
        <div class="col-md-12">
            <xd-panel-collapse title="'Informações Gerais'">
                <div class="row">
                    <div class="col-md-12">
                        <xd-input data-params="ac._model.curso"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <xd-input data-params="ac._model.codigoCurso" data-disable="true"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-select data-params="ac._model.tipo" data-change="ac.changeTipo"></xd-select>
                    </div>
                    <div class="col-md-3">
                        <xd-select data-params="ac._model.area" data-change="ac.changeArea" data-disable="ac.disableArea"></xd-select>
                    </div>
                    <div class="col-md-3">
                        <xd-select data-params="ac._model.turno" data-disable="ac.disableArea"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <xd-input data-params="ac._model.vagasTurma"></xd-input>
                    </div>
                    <div class="col-md-3">
                        <xd-input data-params="ac._model.cargaHoraria"></xd-input>
                    </div>
                    <div class="col-md-5 text-center">
                        <div class="col-md-9 text-left">
                            <xd-select data-params="ac._model.periodo"></xd-select>
                        </div>
                        <div class="col-md-3" style="display:inline-block; vertical-align: middle;padding-left: 0!important;">
                            <br/>
                            <div class="col-md-12" style="padding-top: 5px; padding-left: 0;">
                                <button type="button" class="btn btn-blue heightFix btn-block" ng-click="ac.modalPeriodos()"><i class="glyphicon glyphicon-plus"></i> / <i class="glyphicon glyphicon-pencil"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </xd-panel-collapse>
            <xd-panel-collapse title="'Informações do Curso'">
                <div class="row">
                    <div class="col-md-6">
                        <xd-input data-params="ac._model.habilitacao"></xd-input>
                    </div>
                    <div class="col-md-6">
                        <xd-input data-params="ac._model.autorizacao"></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <xd-input data-params="ac._model.reconhecimento"></xd-input>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="col-md-10 text-left" style="padding-left: 0;padding-right: 0">
                            <xd-input data-params="ac._model.obsAval" data-disable="true"></xd-input>
                        </div>
                        <div class="col-md-2 text-center" style="display:inline-block; vertical-align: middle;padding-left: 0!important;">
                            <br/>
                            <div class="col-md-12 center-block" style="padding-top: 5px; padding-left: 0;">
                                <button type="button" class="btn btn-blue heightFix center-block" ng-click="ac.modalCriterios()"><i class="entypo-reply"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </xd-panel-collapse>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6 pull-right">
        <span class="pull-right" style="padding-right: 5px">
            <button class="btn btn-danger btn-icon icon-left btn-lg" ng-click="ac.cancelar()"
                    data-ng-disabled="" ng-show="ac.editing">
                Cancelar
                <i class="icon entypo-cancel icon-right"></i></button>
        </span>
        <span class="pull-right" style="padding-right: 5px">
            <button class="btn btn-warning btn-icon icon-left btn-lg" ng-click="ac.limpar()"
                    data-ng-disabled="ac._model.curso.model.val==''&&
                                      ac._model.codigoCurso.model.val==''&&
                                      ac._model.tipo.model.val==''&&
                                      ac._model.area.model.val==''&&
                                      ac._model.turno.model.val==''&&
                                      ac._model.vagasTurma.model.val==''&&
                                      ac._model.cargaHoraria.model.val==''&&
                                      ac._model.codigo.model.val==''&&
                                      ac._model.habilitacao.model.val==''&&
                                      ac._model.autorizacao.model.val==''&&
                                      ac._model.reconhecimento.model.val==''&&
                                      ac._model.obsAval.model.val==''" ng-show="ac.editing">
                Limpar
                <i class="icon entypo-cup icon-right"></i></button>
        </span>
        <span class="pull-right" style="padding-right: 5px">
            <button class="btn btn-green btn-lg btn-icon icon-left" ng-click="ac.salvarCurso()" ng-show="ac.editing">
                Salvar
                <i class="entypo-check"></i>
            </button>
        </span>
        <span class="pull-right" style="padding-right: 5px">
            <button class="btn btn-green btn-lg btn-icon icon-left" ng-click="ac.adicionarCurso()" ng-hide="ac.editing">
                Adicionar
                <i class="entypo-plus-circled"></i>
            </button>
        </span>
    </div>
</div>
<!-- Modal período -->
<div class="modal fade" id="modalPeriodo" tabindex="-1" role="dialog" aria-labelledby="Cadastrar Novo">
    <div class="modal-sm modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalPeriodoTitle">Novo Período</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <xd-input data-params="ac._model.addPeriodo"></xd-input>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-blue btn-lg btn-icon icon-left" data-dismiss="modal">
                    Fechar
                    <i class="entypo-plus"></i>
                </button>
                <button class="btn btn-green btn-lg btn-icon icon-left" ng-click="ac.modalSalvar()">
                    Adicionar
                    <i class="entypo-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Critérios de Avaliação -->
<div class="modal fade" id="modalCritAval" tabindex="-1" role="dialog" aria-labelledby="Cadastrar Novo">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ac.fecharCriterios()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Critérios de Avaliação</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <xd-input data-params="ac._model.modalCriterio"></xd-input>
                    </div>
                    <div class="col-md-6">
                        <xd-input data-params="ac._model.modalObs"></xd-input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h5 class="text-info">
                            Critérios adicionados:
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-grid data-params="ac.tableCriterios"></xd-grid>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-blue btn-lg btn-icon icon-left" ng-click="ac.adicionarCriterio()">
                    Adicionar
                    <i class="entypo-plus"></i>
                </button>
                <button class="btn btn-green btn-lg btn-icon icon-left" ng-click="ac.fecharCriterios()">
                    Fechar
                    <i class="entypo-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>