<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <h2><i class="entypo-plus-circled"></i> <span>Adicionar Disciplina</span><br/></h2>
        </div>
    </div>
</div>
<hr/>
<br/>
<div class="row">
    <div class="col-md-12">
        <xd-select data-params="ad._model.nome" data-change="ad.cadastrarNovo"></xd-select>
    </div>
</div>
<div class="row">
    <div class="col-md-6 pull-right">
        <div class="col-md-4 pull-right" data-ng-show="ad.editing">
            <button class="btn btn-danger btn-icon icon-left btn-lg btn-block" ng-click="ad.cancelar()"
                    data-ng-disabled="">
                Cancelar
                <i class="icon entypo-cancel icon-right"></i></button>
        </div>
        <div class="col-md-4 pull-right">
            <button class="btn btn-blue btn-icon icon-left btn-lg btn-block" ng-click="ad.modalEditarDisciplinas()"
                    data-ng-disabled="">
                Editar
                <i class="icon entypo-pencil icon-right"></i></button>
        </div>
        <div class="col-md-4 pull-right">
            <button class="btn btn-green btn-lg btn-icon icon-left btn-block" ng-click="ad.salvar()" data-ng-disabled="!ad.editing">
                Salvar
                <i class="entypo-check"></i>
            </button>
        </div>
    </div>
</div>
<!-- Cadastrar Novo -->
<div class="modal fade" id="modalCadastrarNovo" tabindex="-1" role="dialog" aria-labelledby="Cadastrar Novo">
    <div class="modal-sm modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Cadastrar Novo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <xd-input data-params="ad._model.addNome"></xd-input>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-blue btn-lg btn-icon icon-left" data-dismiss="modal">
                    Cancelar
                    <i class="entypo-plus"></i>
                </button>
                <button class="btn btn-green btn-lg btn-icon icon-left" ng-click="ad.modalSalvar()">
                    Salvar
                    <i class="entypo-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Editar Disciplinas -->
<div class="modal fade" id="modalEditDisc" tabindex="-1" role="dialog" aria-labelledby="Cadastrar Novo">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ac.fecharCriterios()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Editar Disciplinas</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <xd-select data-params="ad._model.editarSelectNome" data-change="ad.selectDiscModal"></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-input data-params="ad._model.editarNome" data-disable="!ad.editingModal"></xd-input>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-green btn-lg btn-icon icon-left" ng-click="ad.salvarEditDisc()">
                    Salvar
                    <i class="entypo-check"></i>
                </button>
                <button class="btn btn-danger btn-lg btn-icon icon-left" ng-click="ad.cancelEditar()">
                    Cancelar
                    <i class="entypo-cancel"></i>
                </button>
            </div>
        </div>
    </div>
</div>