<div class="col-md-12">
    <div class="col-md-12">
        <h2 class="title text-primary">Cronograma de aulas dadas</h2>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <xd-grid data-params="aud.tableCronograma"></xd-grid>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6 pull-right">
                <!--<div class="col-md-3 pull-right">
                    <button class="btn btn-danger btn-lg btn-icon icon-left btn-block" ng-click="">
                        Cancelar
                        <i class="entypo-cancel"></i>
                    </button>
                </div>-->
                <div class="col-md-4 pull-right">
                    <button class="btn btn-green btn-lg btn-icon icon-left btn-block" ng-click="aud.salvar()">
                        Salvar
                        <i class="entypo-check"></i>
                    </button>
                </div>
                <div class="col-md-4 pull-right">
                    <button class="btn btn-primary btn-lg btn-icon icon-left btn-block" data-toggle="modal" data-target="#modalNovoProf">
                        Novo
                        <i class="entypo-plus"></i>
                    </button>
                </div>
                <div class="col-md-4 pull-right">
                    <button class="btn btn-info btn-icon icon-left btn-lg btn-block" ng-click="aud.voltar()"
                            data-ng-disabled="">
                        Voltar
                        <i class="icon entypo-left icon-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Novo Professor -->
<div class="modal fade" id="modalNovoProf" tabindex="-1" role="dialog" aria-labelledby="Cadastrar Novo">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ac.fecharCriterios()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Novo Professor</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <xd-input data-params=""></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <xd-input data-params=""></xd-input>
                    </div>
                    <div class="col-md-6">
                        <xd-input data-params=""></xd-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <xd-input-date data-params=""></xd-input-date>
                    </div>
                    <div class="col-md-3">
                        <xd-input data-params=""></xd-input>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-select data-params=""></xd-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <xd-select data-params=""></xd-select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning btn-lg btn-icon icon-left" ng-click="aud.limpar()">
                    Limpar
                    <i class="entypo-cup"></i>
                </button>
                <button class="btn btn-blue btn-lg btn-icon icon-left" ng-click="">
                    Adicionar
                    <i class="entypo-plus"></i>
                </button>
                <button class="btn btn-danger btn-lg btn-icon icon-left" data-dismiss="modal" ng-click="">
                    Cancelar
                    <i class="entypo-cancel"></i>
                </button>
            </div>
        </div>
    </div>
</div>