<!DOCTYPE html>
<html id="html">
    <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Neon Admin Panel" />
    <meta name="author" content="" />

    <title>xDuka | Portal do Aluno</title>

    <link rel="icon" type="image/png" href="assets/xduka/img/mini.png">
    <link rel="stylesheet" href="Content/assets/js/vertical-timeline/css/component.css">
    <link rel="stylesheet" href="Content/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="Content/assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="Content/assets/css/neon.css">
    <link rel="stylesheet" href="Content/assets/css/custom.css">

    <link rel="stylesheet" href="Content/assets/js/vertical-timeline/css/component.css">

    <link rel="stylesheet" href="Content/assets/js/jcrop/jquery.Jcrop.min.css">

        <link rel="stylesheet" type="text/css" href="/lib/ngImgCrop/compile/unminified/ng-img-crop.css">
        <script src="http://www.google-analytics.com/ga.js" async="" type="text/javascript"></script>
        <script src="http://demo.neontheme.com/assets/js/jquery-1.11.0.min.js"></script>
        <script>$.noConflict();</script>





    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/Script/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/Script/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
    </head>
    <body>
    <div id="login-view" class="page-body login-page login-form-fall invisivel"
         data-bind="css:{visivel:!logado(), invisivel:logado()}">
        <div class="login-container">

            <div class="login-header login-caret">

                <div class="login-content">

                    <a href="#" class="logo">
                        <div style="background: url(Content/assets/images/logo-cliente.png) center no-repeat; height: 140px; background-size: contain"></div>
                    </a>

                    <!--<p class="description">Dear user, log in to access the admin area!</p>-->

                    <!-- progress bar indicator -->
                    <div class="login-progressbar-indicator">
                        <h3>43%</h3>
                        <span>logging in...</span>
                    </div>
                </div>

            </div>

            <div class="login-progressbar">
                <div></div>
            </div>

            <div class="login-form">

                <div class="login-content">

                    <form method="post" role="form" id="form_login" class="validate">

                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="entypo-user"></i>
                                </div>

                                <input type="text" class="form-control"
                                       name="username" id="username"
                                       placeholder="Usuário"
                                       autocomplete="off"
                                       data-validate="required"
                                       data-message-required="Este é um campo obrigatório."
                                       data-message-minlength="Digite pelo menos 8 caracteres."/>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="entypo-key"></i>
                                </div>
                                <input type="password" class="form-control"
                                       name="password" id="password"
                                       placeholder="Senha"
                                       autocomplete="off"
                                       data-validate="required"
                                       data-message-required="Este é um campo obrigatório."
                                       data-message-minlength="Digite pelo menos 8 caracteres."/>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit"
                                    class="btn btn-primary btn-block btn-login">
                                Entrar
                                <i class="entypo-login"></i>
                            </button>
                        </div>

                    </form>


                    <div class="login-bottom-links">
                        <a href="#" class="link" data-bind="event:{click: function(){$root.esqueceuSenha();} }">Esqueceu
                            sua senha?</a>
                        <br/>
                        © 2014 xDuka Desenvolvido por <a href="#"><u>xDevel</u></a>
                    </div>

                </div>

            </div>
Bioética
        </div>
    </div>
        <div id="main-view" class="page-body page-fade invisivel"
            data-bind="css:{visivel:logado(), invisivel:!logado()}">
            <div class="page-container">
                <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

<div class="sidebar-menu">

    <header class="logo-env">

        <!-- logo -->
        <div class="logo">
            <a href="#">
                <img src="Content/assets/images/logo-cliente.png" width="120" alt="" />
            </a>
        </div>

        <!-- logo collapse icon -->

        <div class="sidebar-collapse">
            <a href="#" class="sidebar-collapse-icon with-animation">
                <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                <i class="entypo-menu"></i>
            </a>
        </div>

        <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
        <div class="sidebar-mobile-menu visible-xs">
            <a href="#" class="with-animation">
                <!-- add class "with-animation" to support animation -->
                <i class="entypo-menu"></i>
            </a>
        </div>

    </header>

    <ul id="main-menu" data-bind="foreach: menu.lista()">
        <!-- add class "multiple-expanded" to allow multiple submenus to open -->
        <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
        <!-- Search Bar -->

        <!-- a classe class="active opened active" será ativa para cada link-->

        <li>
            <a class="menu-dinamico" data-bind="attr: { href: action() }, event:{click: function(){$root.menu.changeBreadCrumb(texto());}} ">
                <i data-bind="css: iconClass()"></i>
                <span data-bind="text: texto()"></span>
            </a>
        </li>
    </ul>

</div>

                <div class="main-content">
                    <div class="row">
    <!-- Profile -->
    <div class="col-md-6 col-sm-8 clearfix"
         data-bind="with:perfil">
        <ul class="user-info pull-left pull-none-xsm">
            <!-- Profile Info -->
            <li class="profile-info dropdown">
                <!-- add class "pull-right" if you want to place this from right -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img data-bind="attr:{src: foto()}" src="" alt="" class="img-circle" width="44" />
                    <b data-bind="text:nome()"></b><br />
                    <b data-bind="text:unidade.unidade()"></b><br />
                    <i data-bind="text:cursos()[0].curso()"></i>
                </a>
                <!--                
                                <ul class="dropdown-menu">
                                    Reverse Caret 
                                    <li class="caret"></li>
                                    Profile sub-links 
                                    <li>
                                        <a href="#">
                                            <i class="entypo-user"></i>
                                            Edit Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailbox.html">
                                            <i class="entypo-mail"></i>
                                            Inbox
                                        </a>
                                    </li>
                                    <li>
                                        <a href="extra-calendar.html">
                                            <i class="entypo-calendar"></i>
                                            Calendar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="entypo-clipboard"></i>
                                            Tasks
                                        </a>
                                    </li>
                                </ul>
                -->

            </li>

        </ul>
    </div>
    <!-- links -->
    <div class="col-md-6 col-sm-4 clearfix hidden-xs">
        <ul class="list-inline links-list pull-right">
            <li class="sep"></li>
            <li>
                <a href="#" data-toggle="chat" data-animate="1" data-collapse-sidebar="1">
                    <i class="entypo-chat"></i>
                    Colegas de Turma/Docentes
                    <span class="badge badge-success chat-notifications-badge is-hidden">0</span>
                </a>
            </li>
            <li class="sep"></li>
            <li>
                <a href="#" data-bind="event:{click: function(){preventEvent(logout);}}">
                    Log Out
                    <i class="entypo-logout right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<hr />

                    <div class="row">
    <div class="col-md-12">

        <ol class="breadcrumb bc-3">
            <li>
                <a href="#"><i class="entypo-home"></i>Página Inicial</a>
            </li>
            <li class="active">
                <strong data-bind="text: menu.secaoAtual()"></strong>
            </li>
        </ol>

    </div>
</div>
                    <div class="row conteudo-menu-ajax">
                        <!-- ko if: secao()==='mensagens' -->

<div class="col-md-12">
    <ul class="cbp_tmtimeline" data-bind="with: mensagens">
        <li>
            <time data-bind="attr:{datetime: hoje.data()} " class="cbp_tmtime" datetime="09090">
                <span class="hidden"></span>
                <span data-bind="text: hoje.data()" class="large"></span>
            </time>
            <div class="cbp_tmicon"><i class="entypo-user"></i></div>
            <div class="cbp_tmlabel empty"><span></span></div>
        </li>
        <!-- ko foreach: lista() -->
        <li>
            <time class="cbp_tmtime" datetime="2014-01-10T03:45">
                <span data-bind="text: hora()">03:45 AM</span>
                <span data-bind="text: data()"></span>
            </time>
            <div class="cbp_tmicon bg-success"><i class="entypo-feather"></i></div>
            <div class="cbp_tmlabel">
                <h2>
                    <a href="#" data-bind="text: remetente()"></a>
                    <span></span>
                </h2>
                <p data-bind="text: texto()"></p>
            </div>
        </li>
        <!-- /ko -->

    </ul>
</div>

<!--/ko -->
                        <!-- ko if: secao()==='tarefas' -->

<div class="col-md-12">
    <div>
        <form role="form" class="form-horizontal form-groups-bordered">
            <select data-bind="value: tarefas.filtro(), event: { click: function(){tarefas.filtrar($element);} }" name="test" class="select2" data-placeholder="Filtrar por disciplina...">
                <!-- ko foreach: tarefas.disciplinas() -->
                <option data-bind="text: nome(), value: codigo()"></option>
                <!--/ko-->
            </select>
        </form>
        <hr />
        <br />


        <div class="row" data-bind="foreach: tarefas.lista()">

            <!-- ko if: ($root.tarefas.filtro() === '-1') || (codigoDisciplina() === $root.tarefas.filtro()) -->
            <div class="col-md-12">

                <div class="panel panel-info" data-collapsed="0">

                    <!-- panel head -->
                    <div class="panel-heading">
                        <div class="panel-title" data-bind="text: disciplina()"></div>
                        <div class="panel-options">
                            <!--<a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a>-->
                            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                            <!--<a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>-->
                            <!--<a href="#" data-rel="close"><i class="entypo-cancel"></i></a>-->
                        </div>
                    </div>

                    <!-- panel body -->
                    <div class="panel-body">
                        <p>
                            <strong>
                                <label>Data:</label>
                                <span data-bind="text: dataFim()"></span>
                                <br>
                                <label>Assunto:</label>
                                <span data-bind="text: assunto()"></span>
                                <br>
                            </strong>
                            <label>Data:</label>
                            <span data-bind="text: dataInicio()"></span>
                            <br>
                            <label>Prof.:</label>
                            <span data-bind="text: professor()"></span>
                            <br>
                            <br />

                            <a data-bind="attr: { href: anexo() }">
                                <button type="button" class="btn btn-blue btn-icon btn-lg">
                                    <span>Baixar Anexo</span>
                                    <i class="entypo-down"></i>
                                </button>
                            </a>
                            <br />
                            <label data-bind="text: anexo()"></label>
                        </p>

                    </div>

                </div>

            </div>

            <!-- /ko -->

        </div>

    </div>

</div>
<!-- /ko -->

                        <!-- ko if:secao() === 'notas' -->

<div class="col-md-12">

    <div>Avaliações</div>
    <br>

    <table class="table table-bordered responsive table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <!-- ko foreach: notas.disciplinas()[0].periodos() -->
                <th colspan="4" data-bind="text: nome()">Único</th>
                <!-- /ko -->
                <th colspan="5">Resultado</th>
            </tr>
            <tr>
                <th>Disciplina</th>
                <!-- ko foreach: notas.disciplinas()[0].periodos() -->
                <th>AV1</th>
                <th>AV2</th>
                <th>Nota</th>
                <th>Faltas</th>
                <!--/ko-->
                <th>Média</th>
                <th>REC</th>
                <th>2HC</th>
                <th>Média Final</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: notas.disciplinas()">
            <tr>
                <td data-bind="text: nome()">Características Históricas</td>
                <!-- ko foreach: periodos() -->
                <td data-bind="text: av1()">xx</td>
                <td data-bind="text: av2()">xx</td>
                <td data-bind="text: nota()">xx</td>
                <td data-bind="text: faltas()">xx</td>
                <!-- /ko -->
                <td data-bind="text: resultado.media()">xx</td>
                <td data-bind="text: resultado.rec()">xx</td>
                <td data-bind="text: resultado._2ch()">xx</td>
                <td data-bind="text: resultado.mediaFinal()">xx</td>
                <td data-bind="text: resultado.resultado()">xx</td>
            </tr>
        </tbody>
    </table>

    <div>Boletim/Histórico</div>
    <br>
    <table class="table table-condensed table-bordered table-hover table-striped responsive">
        <thead>
            <tr>
                <th>Período</th>
                <th>Curso</th>
                <th>Turma</th>
                <th>Impressão</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: notas.boletins()">
            <tr>
                <td data-bind="text: periodo()"></td>
                <td data-bind="text: curso()"></td>
                <td data-bind="text: turma()"></td>
                <td align="center">
                    <a data-bind="attr: { href: documento() }">
                        <img src="Content/assets/images/print-icon.png" alt="" width="23" height="23">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!-- /ko -->

                        <!-- ko if: secao() === 'parcelas' -->

<div class="col-md-12">

    <!-- ko foreach: parcelas.lista() -->

    <div class="panel panel-info panel-shadow" data-collapsed="0">
        <div class="panel-heading">
            <div style="width: 93%" class="panel-title">
                <table style="background-color: #c5e8f7; width: 100%;" class="table table-condensed responsive">
                    <tr>
                        <td style=" font-weight: bold;">Ano Letivo</td>
                        <td style="font-weight: bold;">Tipo</td>
                        <td style="font-weight: bold;">Período</td>
                        <td style="font-weight: bold;">Status</td>
                    </tr>
                    <tr>
                        <td data-bind="text: anoLetivo()"></td>
                        <td data-bind="text: tipo()"></td>
                        <td data-bind="text: periodo()"></td>
                        <td data-bind="text: status()"></td>
                    </tr>
                </table>
            </div>

            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
            </div>
        </div>
        <div class="panel-body" style="display: block;">
            <table class="table table-condensed table-bordered table-hover table-striped responsive">
                <thead>
                    <tr>
                        <th>Parcela</th>
                        <th>Bruto</th>
                        <th>Desconto</th>
                        <th>Acréscimo</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th>Imprimir</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: lista()">
                    <tr>
                        <td data-bind="text: parcela()"></td>
                        <td data-bind="text: bruto()"></td>
                        <td data-bind="text: desconto()"></td>
                        <td data-bind="text: acrescimo()"></td>
                        <td data-bind="text: data()"></td>
                        <td data-bind="text: valor()"></td>
                        <td data-bind="text: status.status()"></td>
                        <td align="center"
                            data-bind="if: status.codigo()===0">
                            <a data-bind="attr: { href: boleto() }">
                                <img src="Content/assets/images/print-icon.png" alt="" width="23" height="23">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!--/ko-->

</div>

<!--/ko-->

                        <!-- ko if: secao() === 'horario' -->

<div class="col-md-12">
    <table class="table table-condensed table-bordered table-hover table-striped responsive">
        <thead>
            <tr>
                <th>Domingo</th>
                <th>Segunda</th>
                <th>Terça</th>
                <th>Quarta</th>
                <th>Quinta</th>
                <th>Sexta</th>
                <th>Sábado</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: horario.domingo()">
            <tr>
                <td data-bind="text: $data">xxx</td>
                <td data-bind="text: $parent.horario.segunda()[$index()]"></td>
                <td data-bind="text: $parent.horario.terca()[$index()]"></td>
                <td data-bind="text: $parent.horario.quarta()[$index()]"></td>
                <td data-bind="text: $parent.horario.quinta()[$index()]"></td>
                <td data-bind="text: $parent.horario.sexta()[$index()]"></td>
                <td data-bind="text: $parent.horario.sabado()[$index()]"></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /ko -->

                        <!-- ko if: secao() === 'conteudo' -->

<div class="col-md-12">
    <form role="form" class="form-horizontal form-groups-bordered">
        <select data-bind="event: {change: function(){conteudo.selecionarPeriodo($element);}} "
                name="periodo" class="select2" data-allow-clear="false"
                data-placeholder="Selecione o período...">
            <option></option>
            <!--ko foreach: conteudo.periodos()-->
            <option data-bind="text: nome(), attr: { value: ko.toJSON($data) }"></option>
            <!--/ko-->
        </select>
        <!--ko if: conteudo.periodoSelecionado.disciplinas().length>0-->
        <select data-bind="event: {change: function(){conteudo.selecionarDisciplina($element);}}"
                name="disciplina" class="select2" data-allow-clear="false"
                data-placeholder="Selecione a Disciplina...">
            <option></option>
            <!--ko foreach: conteudo.periodoSelecionado.disciplinas()-->
            <option data-bind="text: nome, attr: { value: ko.toJSON($data) }"></option>
            <!--/ko-->
        </select>
        <!--/ko-->
    </form>
    <hr />
    <br />

    <div>
        <!-- ko if: conteudo.disciplinaSelecionada.nome()!='' -->
        <table class="table table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Conteúdo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-bind="text: conteudo.disciplinaSelecionada.nome()"></td>
                </tr>
                <!-- ko foreach: conteudo.disciplinaSelecionada.conteudo() -->
                <tr>
                    <td data-bind="text: $data"></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <!--/ko-->
    </div>
</div>
<!-- /ko -->

                        <!-- ko if: secao() === 'grade' -->

<div class="col-md-12">
    <table class="table table-condensed table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Período</th>
                <th>Disciplina</th>
                <th>Carga Horária</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: grade.lista()">
            <tr>
                <td data-bind="text: periodo()"></td>
                <td data-bind="text: disciplina()"></td>
                <td data-bind="text: cargaHoraria()"></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- /ko -->

                        <!-- ko if: secao() === 'aniversariantes' -->

<div class="col-md-12">

    <div class="timeline-centered">

        <!-- ko foreach: aniversariantes.lista() -->
        <article data-bind="css: ($index()%2 === 0 ? 'left-aligned' : 'right-aligned')" class="timeline-entry">
            <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-01-10T03:45">
                    <span data-bind="text: data()"></span>
                    <!--<span>Today</span>-->
                </time>
                <div class="timeline-icon bg-warning"><i class="entypo-camera"></i></div>
                <div class="timeline-label" align="center">
                    <h2 data-bind="text: nome()"></h2>
                    <img data-bind="attr:{src: foto()}" src="" alt="" width="65%" height="716" class="img-responsive img-rounded full-width" align="middle" />
                </div>
            </div>
        </article>
        <!-- /ko -->

        <article class="timeline-entry begin">
            <div class="timeline-entry-inner">
                <div class="timeline-icon" style="transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);"><i class="entypo-play"></i></div>
            </div>
        </article>
    </div>

</div>

<!-- /ko -->

                        <div data-bind="css:{visivel:(secao() === 'editarPerfil'), invisivel:(secao() !== 'editarPerfil')}">
    <!--FOTO-->
    <div class="col-md-12">
        <div class="panel panel-primary" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">
                    Foto
                </div>
            </div>
            <div class="panel-body">
                <form id="form-editarperfil-foto" role="form" class="form-horizontal form-groups-bordered validate">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Foto Para Perfil:</label>
                        <div class="col-sm-5">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="input-group">
                                    <div class="form-control uneditable-input" data-trigger="fileinput">
                                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                        <span class="fileinput-filename"></span>
                                    </div>
                                    <span class="input-group-addon btn btn-default btn-file">
                                        <span class="fileinput-new">Selecionar o Arquivo</span>
                                        <span class="fileinput-exists">Alterar</span>
                                        <input id="image-input" type="file" name="upload-foto">
                                    </span><a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Excluir</a>
                                </div>
                            </div>
                            <br>
                            <div data-bind="style: {height: '150px',
                                'background-image': 'url('+perfil.foto()+')',
                                'background-repeat': 'no-repeat',
                                'background-size': 'contain'}">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <!--TROCAR SENHA-->
        <div class="panel panel-primary" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">
                    Trocar Senha
                </div>
            </div>
            <div class="panel-body">
                <form id="form-editarperfil-senha" role="form" class="form-horizontal form-groups-bordered validate">
                    <!--SENHA ATUAL-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Senha Atual</label>
                        <div class="col-sm-5">
                            <input type="password"
                                   class="form-control"
                                   name="trocarSenha[senhaAtual]"
                                   data-validate="required,minlength[6]"
                                   placeholder="Digite aqui a senha atual">
                        </div>
                    </div>
                    <!--NOVA SENHA-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nova Senha</label>
                        <div class="col-sm-5">
                            <input type="password"
                                   id="new_password"
                                   class="form-control"
                                   name="trocarSenha[novaSenha]"
                                   data-validate="required,minlength[6]"
                                   data-message-required="Este é um campo obrigatório."
                                   placeholder="Digite a nova senha">
                        </div>
                    </div>
                    <!--CONFIRMAR NOVA SENHA-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Confirmar Nova Senha</label>
                        <div class="col-sm-5">
                            <input type="password"
                                   id="new_password_again"
                                   class="form-control"
                                   name="trocarSenha[novaSenha2]"
                                   data-validate="required,minlength[6]"
                                   data-message-required="Este é um campo obrigatório."
                                   placeholder="Digite a nova senha novamente">
                        </div>
                    </div>
                    <div class="form-group" style="width: 100%">
                        <button type="submit" class="btn btn-lg btn-info btn-icon icon-left pull-right">
                            <i class="entypo-check"></i>
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!--INFORMACOES COMPARTILHADAS-->
        <div class="panel panel-primary" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">
                    Informações Compartilhadas
                </div>
            </div>
            <div class="panel-body">
                <form id="form-editarperfil-informacoes" role="form" class="form-horizontal form-groups-bordered validate">
                    <!--PERMISSOES-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Permissões</label>
                        <div class="checkbox">
                            <div class="col-sm-5">
                                <input type="checkbox"
                                       data-bind="event:{change:function(){$root.editarPerfil.setCompartilharAniversario($element);}},
                                       checked: $root.perfil.compartilharAniversario() === 1">
                                <input type="hidden"
                                       name="informacoesCompartilhadas[compartilharAniversario]"
                                       data-bind="value: $root.perfil.compartilharAniversario()">
                                <label>
                                    Exibir foto na lista de aniversariantes do mês
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--TELEFONE RESIDENCIAL-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Telefone Residencial</label>
                        <div class="col-sm-5">
                            <input name="informacoesCompartilhadas[telefoneResidencial]"
                                   type="text"
                                   class="form-control telefoneResidencial"
                                   data-mask="phone" 
                                   data-validate="required,minlength[7]"
                                   data-message-required="Este é um campo obrigatório."
                                   placeholder="Digite seu telefone aqui">
                        </div>
                    </div>
                    <!--TELEFONE CELULAR-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Telefone Celular</label>
                        <div class="col-sm-5">
                            <input type="text"
                                   class="form-control telefoneCelular"
                                   name="informacoesCompartilhadas[telefoneCelular]"
                                   data-mask="phone" 
                                   data-validate="minlength[7]"
                                   placeholder="Digite seu telefone aqui">
                        </div>
                    </div>
                    <!--EMAIL-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">E-mail</label>
                        <div class="col-sm-5">
                            <input type="text"
                                   class="form-control email"
                                   name="informacoesCompartilhadas[email]"
                                   data-message-email="Digite um e-mail válido"
                                   data-validate="email"
                                   placeholder="Digite seu e-mail">
                        </div>

                    </div>
                    <div class="form-group" style="width: 100%">
                        <button type="submit" class="btn btn-lg btn-info btn-icon icon-left pull-right">
                            <i class="entypo-check"></i>
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
                        <!-- Footer -->
<div class="col-md-12">
    <footer class="main">
        &copy; 2014 <strong>Cursar.me</strong> Desenvolvido pela <a href="http://xdevel.com.br" target="_blank">xDevel</a>
    </footer>
</div>
                    </div>
                </div>
                <div id="chat" class="fixed" data-current-user="Art Ramadani" data-order-by-status="1" data-max-chat-history="25">

    <div class="chat-inner" style="background-color:white;color:black">
        <ul class="nav nav-tabs " style="background-color:white"><!-- available classes "bordered", "right-aligned" -->

            <li class="active"><a href="#grupo" data-toggle="tab">Grupo/Turma</a></li>
            <li><a href="#docentes" data-toggle="tab">Docentes</a></li>

        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="grupo"
                 data-bind="foreach: perfil.grupoTurma()">

                <div style="height:20px; width:auto; margin-bottom:60px;">
                    <div style="height:10px; width:10px; float:left; padding-top:9px;">
                        <img src="" width="40" class="img-circle" height="40"
                             data-bind="attr:{src: foto()}">
                    </div>
                    <div style="width:auto; height:40px;">
                        <div style="height:19px; font-family:Verdana, Geneva, sans-serif; font-size:11px; margin-left:50px;"
                             data-bind="text: nome()">
                        </div>
                        <div style="height:19px; width:auto;font-family:Verdana, Geneva, sans-serif; font-size:11px;  margin-left:50px;"
                             data-bind="text: email()">
                        </div>
                        <div style="height:19px; width:auto;font-family:Verdana, Geneva, sans-serif; font-size:11px;  margin-left:50px;"
                             data-bind="text: telefone()">
                        </div>
                    </div> 
                </div>

            </div>
            <div class="tab-pane" id="docentes"
                 data-bind="foreach: perfil.docentes()">

                <div style="height:20px; width:auto; margin-bottom:60px;">
                    <div style="height:10px; width:10px; float:left; padding-top:9px;">
                        <img src="" width="40" class="img-circle" height="40"
                             data-bind="attr:{src: foto()}">
                    </div>
                    <div style="width:auto; height:40px;">
                        <div style="height:19px; font-family:Verdana, Geneva, sans-serif; font-size:11px; margin-left:50px;"
                             data-bind="text: nome()">
                        </div>
                        <div style="height:19px; width:auto;font-family:Verdana, Geneva, sans-serif; font-size:11px;  margin-left:50px;"
                             data-bind="text: email()">
                        </div>
                        <div style="height:19px; width:auto;font-family:Verdana, Geneva, sans-serif; font-size:11px;  margin-left:50px;"
                             data-bind="text: telefone()">
                        </div>
                    </div> 
                </div>

            </div>

        </div>
    </div>

</div>
            </div>
        </div>
        <!-- modal do loading -->
<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
</div>

<!--MODAL FOTO-->
<div class="modal fade" id="modal-foto">
    <div class="modal-dialog" style="width: 90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Selecione uma área da foto</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
            <!--CONTROLES-->
            <div class="modal-footer">
                <form id="form-modal-foto" class="form-groups-bordered" role="form">
                    <input id="foto-input" name="foto" type="hidden">
                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save-photo" class="btn btn-lg btn-success btn-icon icon-left">
                        <i class="entypo-check"></i>
                        Salvar imagem
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Sample Modal (Default skin) -->
<div class="modal fade" id="modal-dialog-loading">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Carregando</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<!-- Alerta-->
<div class="modal fade" id="modal-alerta" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 data-bind="text: alerta.titulo()" class="modal-title"></h4>
            </div>
            <div data-bind="html: alerta.texto()" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Confirma-->
<div class="modal fade" id="modal-confirma" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 data-bind="text: confirma.titulo()" class="modal-title"></h4>
            </div>
            <div data-bind="html: confirma.texto()" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                <button data-bind="event: {click: function(){$root.confirma.acao();}}" type="button" class="btn btn-success" data-dismiss="modal">Sim</button>
            </div>
        </div>
    </div>
</div>
<!-- Esqueceu Senha-->
<div class="modal fade" id="modal-esqueceu-senha">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="validate">
                <div class="modal-header">
                    <h4 data-bind="text: confirma.titulo()" class="modal-title"></h4>
                </div>
                <div data-bind="text: confirma.texto()" class="modal-body"></div>
                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-mail"></i>
                        </div>
                        <input type="email" class="form-control"
                               name="esqueceuSenha[email]" id="esqueceu-senha-email"
                               placeholder="e-mail"
                               autocomplete="off"
                               data-validate="required, email"
                               data-message-required="Este é um campo obrigatório."/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>



<link rel="stylesheet" href="Content/assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet" href="Content/assets/js/rickshaw/rickshaw.min.css">

<link rel="stylesheet" href="Content/assets/js/zurb-responsive-tables/responsive-tables.css">

<link rel="stylesheet" href="Content/assets/js/datatables/responsive/css/datatables.responsive.css">
<link rel="stylesheet" href="Content/assets/js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="Content/assets/js/select2/select2.css">

<script src="Script/jcanvas.min.js"></script>

<!-- Bottom Scripts -->
<script src="Content/assets/js/gsap/main-gsap.js"></script>
<script src="Content/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="Content/assets/js/bootstrap.min.js"></script>
<script src="Content/assets/js/joinable.js"></script>
<script src="Content/assets/js/resizeable.js"></script>
<script src="Content/assets/js/neon-api.js"></script>
<script src="Content/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="Content/assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
<script src="Content/assets/js/jquery.sparkline.min.js"></script>
<script src="Content/assets/js/rickshaw/vendor/d3.v3.js"></script>
<script src="Content/assets/js/rickshaw/rickshaw.min.js"></script>
<script src="Content/assets/js/raphael-min.js"></script>
<script src="Content/assets/js/morris.min.js"></script>
<script src="Content/assets/js/toastr.js"></script>
<script src="Content/assets/js/neon-chat.js"></script>
<script src="Content/assets/js/neon-custom.js"></script>
<script src="Content/assets/js/neon-demo.js"></script>

<!-- tables -->
<script src="Content/assets/js/jquery.dataTables.min.js"></script>
<script src="Content/assets/js/datatables/TableTools.min.js"></script>
<script src="Content/assets/js/dataTables.bootstrap.js"></script>
<script src="Content/assets/js/datatables/jquery.dataTables.columnFilter.js"></script>
<script src="Content/assets/js/datatables/lodash.min.js"></script>
<script src="Content/assets/js/datatables/responsive/js/datatables.responsive.js"></script>
<script src="Content/assets/js/select2/select2.min.js"></script>

<!-- rasponsive tables -->
<script src="Content/assets/js/zurb-responsive-tables/responsive-tables.js"></script>


<!--forms-->
<script type="text/javascript" src="Content/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="Content/assets/js/jquery.inputmask.bundle.min.js"></script>



<script src="Script/require.js" data-main="Script/main.js"></script>


    <script src="Content/assets/js/jquery-1.10.2.min.js"></script>
    <script src="Content/assets/js/jcrop/jquery.Jcrop.min.js"></script>
    <script src="Script/knockout-min.js"></script>
    <script src="Script/knockout.mapping.js"></script>


    </body>
</html>