<!DOCTYPE html>
<html id="html">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Neon Admin Panel"/>
    <meta name="author" content=""/>

    <title>xDuka | Portal do Aluno</title>

    <link rel="icon" type="image/png" href="assets/xduka/img/mini.png">
    <link rel="stylesheet" href="Content/assets/js/vertical-timeline/css/component.css">
    <link rel="stylesheet" href="Content/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="Content/assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="Content/assets/css/neon.css">

    <link rel="stylesheet" href="Content/assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="Content/assets/js/rickshaw/rickshaw.min.css">
    <link rel="stylesheet" href="Content/assets/js/zurb-responsive-tables/responsive-tables.css">
    <link rel="stylesheet" href="Content/assets/js/datatables/responsive/css/datatables.responsive.css">

    <link rel="stylesheet" href="Content/assets/js/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="Content/assets/js/select2/select2.css">

    <link rel="stylesheet" href="Content/assets/js/selectboxit/jquery.selectBoxIt.css">
    <link rel="stylesheet" href="Content/assets/js/daterangepicker/daterangepicker-bs3.css">


    <link rel="stylesheet" href="Content/assets/css/custom.css">

    <link rel="stylesheet" href="Content/assets/js/vertical-timeline/css/component.css">

    <link rel="stylesheet" href="Content/css/custom.css">

    <script src="Content/assets/js/jquery-1.10.2.min.js"></script>
    <script src="Script/knockout-min.js"></script>
    <script src="Script/knockout.mapping.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/Script/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/Script/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
</head>
<body class="page-body page-fade" data-url="http://neon.dev" style="opacity:0;transition:opacity 1s;">
<div class="page-container">
<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

<div class="sidebar-menu">

    <header class="logo-env">

        <!-- logo -->
        <div class="logo">
            <a href="#">
                <img src="Content/assets/images/logo-cliente.png" width="120" alt=""/>
            </a>
        </div>

        <!-- logo collapse icon -->

        <div class="sidebar-collapse">
            <a href="#" class="sidebar-collapse-icon with-animation">
                <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                <i class="entypo-menu"></i>
            </a>
        </div>

        <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
        <div class="sidebar-mobile-menu visible-xs">
            <a href="#" class="with-animation">
                <!-- add class "with-animation" to support animation -->
                <i class="entypo-menu"></i>
            </a>
        </div>

    </header>

    <ul id="main-menu" data-bind="foreach: menu.lista()">
        <!-- add class "multiple-expanded" to allow multiple submenus to open -->
        <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
        <!-- Search Bar -->

        <!-- a classe class="active opened active" será ativa para cada link-->

        <li>
            <a class="menu-dinamico"
               data-bind="attr: { href: action() }, event:{click: function(){$root.menu.changeBreadCrumb(texto());}} ">
                <i data-bind="css: iconClass()"></i>
                <span data-bind="text: texto()"></span>
            </a>
        </li>
    </ul>

</div>

<div class="main-content">
<div class="row conteudo-menu-ajax">
<div class="row">
    <div class="col-md-12">

        <ol class="breadcrumb bc-3">
            <li>
                <a href="#"><i class="entypo-home"></i>Página Inicial</a>
            </li>
            <li class="active">
                <strong data-bind="text: menu.secaoAtual()"></strong>
            </li>
        </ol>

    </div>
</div>
<section data-bind="visible: secao()==='preCadastro'">
<div class="col-md-12">

<h2>Pré Cadastro</h2>
<br/>

<form id="precadastro-form" role="form" class="form-horizontal form-groups-bordered validate">

<!--INFORMACOES DO ALUNO-->
<div class="panel panel-primary" data-collapsed="0">
    <div class="panel-heading">
        <div class="panel-title">
            Informações do Aluno
        </div>
        <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
        </div>
    </div>
    <!--NOME-->
    <div class="panel-body">
        <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Nome</label>

            <div class="col-sm-5">
                <input name="preCadastro[nome]" type="text"
                       class="form-control"
                       data-mask="^[A-Z a-z.]+"
                       data-is-regex="true"
                       placeholder="Nome"
                       data-validate="required,minlength[2]"
                        >
            </div>
        </div>
        <!--ENDERECO-->
        <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Endereço</label>

            <div class="col-sm-5">
                <input name="preCadastro[contato][endereco]" type="text" class="form-control" placeholder="Endereço"
                       data-validate="required,minlength[2]">
            </div>
        </div>
        <!--TIPO DE TELEFONE-->
        <div class="form-group">
            <label class="col-sm-3 control-label">Tipo de Telefone</label>

            <div class="col-sm-5">
                <select name="preCadastro[contato][telefone][tipo]" class="select2" data-placeholder=""
                        data-validate="required">
                    <option></option>
                    <!--ko foreach: preCadastro.tiposDeTelefone()-->
                    <option data-bind="value: codigo(), text: tipoDeTelefone()"></option>
                    <!--/ko-->
                </select>
            </div>
        </div>
        <!--TELEFONE-->
        <div class="form-group">
            <label class="col-sm-3 control-label">Telefone</label>

            <div class="col-sm-5">
                <input name="preCadastro[contato][telefone][numero]"
                       type="text"
                       class="form-control"
                       data-mask="phone"
                       data-validate="required,minlength[7]"
                        >
            </div>
        </div>
        <!--EMAIL-->
        <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>

            <div class="col-sm-5">
                <input name="preCadastro[contato][email]" type="text" class="form-control"

                       data-validate="required,email"
                        >
            </div>
        </div>
    </div>
</div>

<!--INFOMACOES DO CURSO-->
<div class="panel panel-primary" data-collapsed="0">
    <div class="panel-heading">
        <div class="panel-title">
            Informações do Curso
        </div>
        <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <!--UNIDADE-->
        <div id="precadastro-unidade" class="form-group">
            <label class="col-sm-3 control-label">Unidade</label>

            <div class="col-sm-5">
                <select name="preCadastro[curso][codUnidade]" class="select2"
                        data-placeholder="Selecione a unidade"
                        data-validate="required"

                        data-bind="event:{ change:function(){preCadastro.filtrarUnidade($element.value);}}">
                    <option></option>
                    <!--ko foreach: preCadastro.unidades()-->
                    <option data-bind="text: unidade(), attr:{value: codigo()}"></option>
                    <!--/ko-->
                </select>
            </div>
        </div>
        <!--AREA-->
        <div id="precadastro-area" class="form-group">
            <label class="col-sm-3 control-label">Tipo de Curso</label>

            <div class="col-sm-5">
                <select name="preCadastro[curso][codAarea]" class="select2"
                        data-placeholder="Selecione o Tipo de Curso"
                        data-validate="required"

                        data-bind="foreach: preCadastro.areas(),
                                event:{ change:function(){preCadastro.filtrarArea($element.value);}}">
                    <option></option>
                    <!--ko if: codUnidade() === $root.preCadastro.filtro.codUnidade()-->
                    <option data-bind="text: area(), attr:{value: codigo()}"></option>
                    <!--/ko-->
                </select>
            </div>
        </div>
        <!--CURSO-->
        <div id="precadastro-curso" class="form-group">
            <label class="col-sm-3 control-label">Curso</label>

            <div class="col-sm-5">
                <select name="preCadastro[curso][codCurso]" class="select2"
                        data-placeholder="Selecione o curso"
                        data-validate="required"

                        data-bind="foreach: preCadastro.cursos(),
                                    event:{ change:function(){preCadastro.filtrarCurso($element.value);}}">
                    <option></option>
                    <!--ko if: codUnidade() === $root.preCadastro.filtro.codUnidade() && codArea() === $root.preCadastro.filtro.codArea()-->
                    <option data-bind="text: curso(), attr:{value: codigo()}"></option>
                    <!--/ko-->
                </select>
            </div>
        </div>
        <!--VAGAS-->
        <div id="precadastro-vagas" class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-5">
                <!--ko foreach: preCadastro.cursos()-->
                <!--ko if: codigo() === $root.preCadastro.filtro.codCurso()-->
                <div data-bind="css: vagasPreenchidas()/(vagasTotais() == 0 ? 1 : vagasTotais()) >= 0.9 ? 'tile-red' : 'tile-gray'"
                     class="tile-stats">
                    <div class="icon"><i class="entypo-users"></i></div>
                    <div class="num" data-bind="text: vagasTotais() - vagasPreenchidas()"></div>
                    <h3>Vagas disponíveis</h3>

                    <p><span data-bind="text: vagasTotais()"></span> vagas totais</p>
                </div>
                <!--/ko-->
                <!--/ko-->
            </div>
        </div>
    </div>
</div>

<!--INFORMACOES DE PAGAMENTO-->
<div class="panel panel-primary" data-collapsed="0">
    <div class="panel-heading">
        <div class="panel-title">
            Informações de Pagamento
        </div>
        <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <!--ENTRADA-->
        <div class="form-group">
            <label class="col-sm-3 control-label">Entrada</label>

            <div class="col-sm-5">
                <input name="preCadastro[pagamento][entrada]" type="text"
                       class="form-control xdevel-form-price"
                       data-validate="required">
            </div>
        </div>
        <!--DESCONTO-->
        <div class="form-group">
            <label class="col-sm-3 control-label">Desconto</label>

            <div class="col-sm-5">
                <select name="preCadastro[pagamento][desconto]" class="select2"
                        data-placeholder=""
                        data-validate="required"
                        >
                    <option></option>
                    <!--ko foreach: preCadastro.pagamento.descontos()-->
                    <option data-bind="value: codigo(), text: desconto()"></option>
                    <!--/ko-->
                </select>
            </div>
        </div>
        <!--FORMA DE PAGAMENTO-->
        <div class="form-group">
            <label class="col-sm-3 control-label">Forma de pagamento</label>

            <div class="col-sm-5">
                <select name="preCadastro[pagamento][forma]" class="select2"
                        data-placeholder=""
                        data-validate="required"

                        data-bind="event:{change: function(){preCadastro.mostrarCheques($element);}} ">
                    <option></option>
                    <!--ko foreach: preCadastro.pagamento.formas()-->
                    <option data-bind="value: codigo(), text: forma()"></option>
                    <!--/ko-->
                    <option value="cheque">Cheque</option>
                </select>
            </div>
        </div>
        <!--CHEQUES-->
        <div id="precadastro-cheques" class="form-group"
             data-bind="if: preCadastro.pagamento.cheque()">
            <label for="field-1" class="col-sm-3 control-label">Cheques</label>

            <div class="col-sm-5">
                <p class="bs-example bs-baseline-top">
                    <button type="button" class="btn btn-default btn-icon icon-left btn-lg"
                            data-bind="event:{click: function(){preCadastro.abrirCheques($element);}} ">
                        Adicionar Cheques
                        <i class="entypo-credit-card"></i>
                    </button>
                    <input type="hidden" name="preCadastro[pagamento][cheques]" value="">
                </p>
            </div>
            <!--LISTA DE CHEQUES-->
            <div class="col-md-12" style="overflow: auto;">
                <!--ko if: preCadastro.pagamento.cheques().length>0-->
                <table class="table table-condensed table-bordered table-hover table-striped responsive">
                    <thead>
                    <tr>
                        <th>Banco</th>
                        <th>Agência</th>
                        <th>Conta</th>
                        <th>Número</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--ko foreach: preCadastro.pagamento.cheques()-->
                    <tr>
                        <td data-bind="text: banco()"></td>
                        <td data-bind="text: agencia()"></td>
                        <td data-bind="text: conta()"></td>
                        <td data-bind="text: numero()"></td>
                        <td data-bind="text: data()"></td>
                        <td data-bind="text: valor()"></td>
                        <td data-bind="text: nome()"></td>
                        <td>
                            <button type="button" class="btn btn-white"
                                    data-bind="event:{click: function(){$root.preCadastro.removerCheque(ko.toJSON($data))}} ">
                                <i class="entypo-cancel"></i>
                            </button>
                        </td>
                    </tr>
                    <!--/ko-->
                    </tbody>
                </table>
                <!--/ko-->
            </div>
        </div>
        <!--PARCELAMENTO-->
        <div class="form-group">
            <label class="col-sm-3 control-label">Parcelamento</label>

            <div class="col-sm-5">
                <select name="preCadastro[pagamento][codPlano]" class="select2"
                        data-placeholder=""
                        data-validate="required"
                        >
                    <option></option>
                    <!--ko foreach: preCadastro.pagamento.planos()-->
                    <option data-bind="value: codigo(), text: plano()"></option>
                    <!--/ko-->
                </select>
            </div>
        </div>
        <!--MELHOR DATA DE VENCIMENTO-->
        <div class="form-group">
            <label class="col-sm-3 control-label">Melhor data de vencimento</label>

            <div class="col-sm-5">
                <select name="preCadastro[pagamento][melhorData]" class="select2"
                        data-placeholder=""
                        data-validate="required"
                        >
                    <option></option>
                    <!--ko foreach: preCadastro.pagamento.melhoresDatas()-->
                    <option data-bind="value: codigo(), text: melhorData()"></option>
                    <!--/ko-->
                </select>
            </div>
        </div>
        <!--OBSERVACOES-->
        <div class="form-group">
            <label for="field-ta" class="col-sm-3 control-label">Observações</label>

            <div class="col-sm-5">
                <textarea name="preCadastro[observacoes]" class="form-control" id="field-ta"
                          placeholder="Observações"></textarea>
            </div>
        </div>
    </div>
</div>

<!--BOTOES DE CONTROLE-->
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="bs-example">
                <button type="submit" class="btn btn-lg btn-success btn-icon icon-left">
                    <i class="entypo-user-add"></i>
                    Efetuar Matrícula
                </button>
                <!--                        <button class="btn btn-lg btn-gold btn-icon icon-left">
                                            <i class="entypo-print"></i>
                                            Imprimir Formulário
                                        </button>-->
                <button type="reset" class="btn btn-lg btn-red btn-icon icon-left"
                        data-bind="event:{click: preCadastro.limparCampos} ">
                    <i class="entypo-trash"></i>
                    Limpar Formulário
                </button>
            </div>
        </div>
    </div>
</div>

</form>

<script>
    $(document).ready(function () {
        $(".select2").select2();
    });
</script>

</div>
</section>
<!-- Footer -->
<div class="col-md-12">
    <footer class="main">
        &copy; 2014 <strong>Cursar.me</strong> Desenvolvido pela <a href="http://xdevel.com.br" target="_blank">xDevel</a>
    </footer>
</div>
</div>
</div>
</div>
<!--MODAL CHEQUES-->
<div class="modal fade" id="modal-cheques">
    <div class="modal-dialog" style="width: 90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Adicionar Cheque</h4>
            </div>
            <form id="precadastro-form-cheques" class="form-groups-bordered validate" role="form">
                <div class="modal-body">
                    <div class="row">
                        <!--BANCO-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Banco</label>
                                <select name="objeto[banco]"
                                        class="select2"
                                        data-placeholder="Selecione o Banco"
                                        data-validate="required">
                                    <option></option>
                                    <!--ko foreach: preCadastro.pagamento.bancos()-->
                                    <option data-bind="value: codigo(), text: banco()"></option>
                                    <!--/ko-->
                                </select>

                            </div>
                        </div>
                        <!--AGENCIA-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Agência</label>
                                <input name="objeto[agencia]"
                                       type="text"
                                       class="form-control"
                                       placeholder="Número da Agência"
                                       data-mask="^[A-Za-z0-9]+"
                                       data-is-regex="true"
                                       data-validate="required">
                            </div>
                        </div>
                        <!--CONTA-->
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label">Conta</label>
                                <input name="objeto[conta]"
                                       type="text"
                                       class="form-control"
                                       placeholder="Número da Conta"
                                       data-mask="^[A-Za-z0-9]+"
                                       data-is-regex="true"
                                       data-validate="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--NUMERO-->
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">Número</label>
                                <input name="objeto[numero]"
                                       type="text"
                                       class="form-control"
                                       placeholder="Número do Cheque"
                                       data-mask="^[0-9]+"
                                       data-is-regex="true"
                                       data-validate="required">
                            </div>
                        </div>
                        <!--DATA-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Data</label>

                                <div class="input-group">
                                    <input
                                            name="objeto[data]"
                                            type="text"
                                            class="form-control datepicker" data-format="dd/mm/yyyy"
                                            data-validate="required">

                                    <div class="input-group-addon">
                                        <a href="#"><i class="entypo-calendar"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--VALOR-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Valor</label>
                                <input name="objeto[valor]"
                                       type="text"
                                       class="form-control xdevel-form-price"
                                       placeholder="Valor do Cheque"
                                       data-validate="required">
                            </div>
                        </div>
                        <!--NOME DO TITULAR-->
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Nome do Titular</label>
                                <input name="objeto[nome]"
                                       type="text"
                                       class="form-control"
                                       data-mask="^[A-Z a-z]+"
                                       data-is-regex="true"
                                       data-validate="required">
                            </div>
                        </div>
                    </div>
                </div>
                <!--CONTROLES-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Voltar</button>
                    <button type="submit" class="btn btn-lg btn-success btn-icon icon-left">
                        <i class="entypo-plus"></i>
                        Adicionar Cheque
                    </button>
                    <br>
                    <br>

                    <div class="row">
                        <!--LISTA DE CHEQUES-->
                        <div class="col-md-12">
                            <!--ko if: preCadastro.pagamento.cheques().length>0-->
                            <table class="table table-condensed table-bordered table-hover table-striped responsive">
                                <thead>
                                <tr>
                                    <th>Banco</th>
                                    <th>Agência</th>
                                    <th>Conta</th>
                                    <th>Número</th>
                                    <th>Data</th>
                                    <th>Valor</th>
                                    <th>Nome</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--ko foreach: preCadastro.pagamento.cheques()-->
                                <tr>
                                    <td data-bind="text: banco()"></td>
                                    <td data-bind="text: agencia()"></td>
                                    <td data-bind="text: conta()"></td>
                                    <td data-bind="text: numero()"></td>
                                    <td data-bind="text: data()"></td>
                                    <td data-bind="text: valor()"></td>
                                    <td data-bind="text: nome()"></td>
                                    <td>
                                        <button type="button" class="btn btn-white"
                                                data-bind="event:{click: function(){$root.preCadastro.removerCheque(ko.toJSON($data));}} ">
                                            <i class="entypo-cancel"></i>
                                        </button>
                                    </td>
                                </tr>
                                <!--/ko-->
                                </tbody>
                            </table>
                            <!--/ko-->
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Alerta-->
<div class="modal fade" id="modal-alerta" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 data-bind="text: alerta.titulo()" class="modal-title"></h4>
            </div>
            <div data-bind="html: alerta.texto()" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Confirma-->
<div class="modal fade" id="modal-confirma" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 data-bind="text: confirma.titulo()" class="modal-title"></h4>
            </div>
            <div data-bind="html: confirma.texto()" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                <button data-bind="event: {click: function(){$root.confirma.acao();}}" type="button"
                        class="btn btn-success" data-dismiss="modal">Sim
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal do loading -->
<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
</div>
<!-- Sample Modal (Default skin) -->
<div class="modal fade" id="modal-dialog-loading">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Carregando</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Sample Modal (Skin inverted) -->
<div class="modal invert fade" id="sample-modal-dialog-2">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Widget Options - Inverted Skin Modal</h4>
            </div>

            <div class="modal-body">
                <p>Now residence dashwoods she excellent you. Shade being under his bed her. Much read on as draw.
                    Blessing for ignorant exercise any yourself unpacked. Pleasant horrible but confined day end
                    marriage. Eagerness furniture set preserved far recommend. Did even but nor are most gave hope.
                    Secure active living depend son repair day ladies now.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Sample Modal (Skin gray) -->
<div class="modal gray fade" id="sample-modal-dialog-3">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Widget Options - Gray Skin Modal</h4>
            </div>

            <div class="modal-body">
                <p>Now residence dashwoods she excellent you. Shade being under his bed her. Much read on as draw.
                    Blessing for ignorant exercise any yourself unpacked. Pleasant horrible but confined day end
                    marriage. Eagerness furniture set preserved far recommend. Did even but nor are most gave hope.
                    Secure active living depend son repair day ladies now.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Bottom Scripts -->
<script src="Content/assets/js/gsap/main-gsap.js"></script>
<script src="Content/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="Content/assets/js/bootstrap.min.js"></script>
<script src="Content/assets/js/joinable.js"></script>
<script src="Content/assets/js/resizeable.js"></script>
<script src="Content/assets/js/neon-api.js"></script>
<script src="Content/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="Content/assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
<script src="Content/assets/js/jquery.sparkline.min.js"></script>
<script src="Content/assets/js/rickshaw/vendor/d3.v3.js"></script>
<script src="Content/assets/js/rickshaw/rickshaw.min.js"></script>
<script src="Content/assets/js/raphael-min.js"></script>
<script src="Content/assets/js/morris.min.js"></script>
<script src="Content/assets/js/toastr.js"></script>
<script src="Content/assets/js/neon-chat.js"></script>
<script src="Content/assets/js/neon-custom.js"></script>
<script src="Content/assets/js/neon-demo.js"></script>

<!-- tables -->
<script src="Content/assets/js/jquery.dataTables.min.js"></script>
<script src="Content/assets/js/datatables/TableTools.min.js"></script>
<script src="Content/assets/js/dataTables.bootstrap.js"></script>
<script src="Content/assets/js/datatables/jquery.dataTables.columnFilter.js"></script>
<script src="Content/assets/js/datatables/lodash.min.js"></script>
<script src="Content/assets/js/datatables/responsive/js/datatables.responsive.js"></script>
<script src="Content/assets/js/select2/select2.min.js"></script>

<!-- rasponsive tables -->
<script src="Content/assets/js/zurb-responsive-tables/responsive-tables.js"></script>


<!--forms-->
<script type="text/javascript" src="Content/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="Content/assets/js/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="Content/assets/js/jquery.inputmask.bundle.min.js"></script>

<script src="Content/assets/js/bootstrap-datepicker.js"></script>
<script src="Script/bootstrap-datepicker.pt-BR.js"></script>
<script src="Script/jquery.price_format.js"></script>

<script src="Script/require.js" data-main="Script/main.js"></script>
</body>
</html>